<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}Nuevo Proyecto{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styele_alta_empresas.css') }}">
<style>
    .oculto {
        display: none;
    }
</style>
{% endblock %}

{% block titutlo %}EDITAR EMPRESA{% endblock %}
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}
<br>
<!--INICIA INFORMACIÓN GENERAL-->
<br>
<div class="container-fluid">
    <form class="needs-validation" novalidate accion="{{ url_for('edit_empresa', id=empresa.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="token" value="{{ token }}">

        <div class="container-fluid">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="text-center">
                    <button class="btn botones" id="EditarEmpresa" type="submit">COMFIRMAR</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 oculto">
                    <label for="ID_EMPRESA" class="form-label">Empresa: </label>
                    <input type="text" style="text-align: center;" class="form-control" id="ID_EMPRESA"
                        name="ID_EMPRESA" value="{{ empresa.id }}" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">INFORMACIÓN GENERAL
                                    </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                                    data-bs-target="#direccion-tab-pane" type="button" role="tab"
                                    aria-controls="disabled-tab-pane" aria-selected="false">DIRECCIÓN</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#regitrosPatronales-tab-pane" type="button" role="tab"
                                    aria-controls="regitrosPatronales-tab-pane" aria-selected="false">
                                    REGISTROS PATRONALES</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#representantes-tab-pane" type="button" role="tab"
                                    aria-controls="representantes-tab-pane" aria-selected="false">
                                    REPRESENTANTES LEGALES
                                    </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                                    data-bs-target="#disabled-tab-pane" type="button" role="tab"
                                    aria-controls="disabled-tab-pane" aria-selected="false">APODERADOR LEGARL</button>
                            </li>
                           
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                                    data-bs-target="#inf_banco-tab-pane" type="button" role="tab"
                                    aria-controls="disabled-tab-pane" aria-selected="false">
                                INFORMACION BANCARIA
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <br>
                                <div class="container-fluid">
                                    <!--INFORMACIÓN GENERAL-->
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <label for="RAZON_SOCIAL" class="form-label">RAZÓN SOCIAL*</label>
                                            <input type="text" class="form-control" id="RAZON_SOCIAL"
                                                name="RAZON_SOCIAL" value="{{ empresa.razon_social }}" required>
                                            <div class="invalid-feedback">
                                                COMPLETA
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="REGIMEN_FISCAL" class="form-label">REGIMEN FISCAL*</label>
                                            <select class="form-control" name="REGIMEN_FISCAL" id="REGIMEN_FISCAL" required>
                                                <option value="" style="text-align: center;">------Selecciona------</option>
                                        
                                                <optgroup label="Personas morales">
                                                    <option value="601" {{ 'selected' if empresa.regimen_fiscal_id == 601 else '' }}>601 GENERAL DE LEY PERSONAS General de Ley Personas Morales</option>
                                                    <option value="603" {{ 'selected' if empresa.regimen_fiscal_id == 603 else '' }}>603 Personas Morales con Fines no Lucrativos</option>
                                                    <option value="607" {{ 'selected' if empresa.regimen_fiscal_id == 607 else '' }}>607 Régimen de Enajenación o Adquisición de Bienes</option>
                                                    <option value="610" {{ 'selected' if empresa.regimen_fiscal_id == 610 else '' }}>610 Residentes en el Extranjero sin Establecimiento Permanente en México</option>
                                                    <option value="620" {{ 'selected' if empresa.regimen_fiscal_id == 620 else '' }}>620 Sociedades Cooperativas de Producción que optan por diferir sus ingresos</option>
                                                    <option value="622" {{ 'selected' if empresa.regimen_fiscal_id == 622 else '' }}>622 Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                                                    <option value="623" {{ 'selected' if empresa.regimen_fiscal_id == 623 else '' }}>623 Opcional para Grupos de Sociedades</option>
                                                    <option value="624" {{ 'selected' if empresa.regimen_fiscal_id == 624 else '' }}>624 Coordinados</option>
                                                    <option value="626" {{ 'selected' if empresa.regimen_fiscal_id == 626 else '' }}>626 Régimen Simplificado de Confianza</option>
                                                    <option value="628" {{ 'selected' if empresa.regimen_fiscal_id == 628 else '' }}>628 Hidrocarburos</option>
                                                </optgroup>
                                                <optgroup label="Personas físicas">
                                                    <option value="605" {{ 'selected' if empresa.regimen_fiscal_id == 605 else '' }}>605 Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                                                    <option value="606" {{ 'selected' if empresa.regimen_fiscal_id == 606 else '' }}>606 Arrendamiento</option>
                                                    <option value="608" {{ 'selected' if empresa.regimen_fiscal_id == 608 else '' }}>608 Demás ingresos</option>
                                                    <option value="611" {{ 'selected' if empresa.regimen_fiscal_id == 611 else '' }}>611 Ingresos por Dividendos (socios y accionistas)</option>
                                                    <option value="612" {{ 'selected' if empresa.regimen_fiscal_id == 612 else '' }}>612 Personas Físicas con Actividades Empresariales y Profesionales</option>
                                                    <option value="614" {{ 'selected' if empresa.regimen_fiscal_id == 614 else '' }}>614 Ingresos por intereses</option>
                                                    <option value="615" {{ 'selected' if empresa.regimen_fiscal_id == 615 else '' }}>615 Régimen de los ingresos por obtención de premios</option>
                                                    <option value="616" {{ 'selected' if empresa.regimen_fiscal_id == 616 else '' }}>616 Sin obligaciones fiscales</option>
                                                    <option value="621" {{ 'selected' if empresa.regimen_fiscal_id == 621 else '' }}>621 Incorporación Fiscal</option>
                                                    <option value="625" {{ 'selected' if empresa.regimen_fiscal_id == 625 else '' }}>625 Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas</option>
                                                    <option value="629" {{ 'selected' if empresa.regimen_fiscal_id == 629 else '' }}>629 De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales</option>
                                                    <option value="630" {{ 'selected' if empresa.regimen_fiscal_id == 630 else '' }}>630 Enajenación de acciones en bolsa de valores</option>
                                                </optgroup>
                                            </select>
                                            <div class="invalid-feedback">
                                                SELECIONA UN REGIMEN FISCAL
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <label for="RFC" class="form-label">RFC*</label>
                                            <input type="text" class="form-control" id="RFC" name="RFC"
                                                value="{{ empresa.rfc }}" maxlength="13" required>
                                            <div class="invalid-feedback">
                                                COMPLETA RFC
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <label for="REPSE" class="form-label">REPSE*</label>
                                            <input type="text" class="form-control" id="REPSE" name="REPSE"
                                                placeholder="REPSE" required value="{{ empresa.repse }}">
                                            <div class="invalid-feedback">
                                                COMPLETA REPSE
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!--FIN INFORMACIÓN GENERAL-->
                            <!--INICIA REGISTROS PATRONALES-->
                            <div class="tab-pane fade" id="regitrosPatronales-tab-pane" role="tabpanel"
                                aria-labelledby="regitrosPatronales-tab" tabindex="0">
                                <br>
                                <!--BOTONES ACCIONES-->
                                <div class="container-fluid">
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <button type="button" class="btn botones" onclick="añadirRegistro()"><i
                                                    class="bi bi-person-add"></i> AGREGAR
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!--VISTA DE CONTACTOS-->
                                <div class="container-fluid">
                                    <table class="table table-borderless" id="Registros_Patronales"
                                        name="Registros_Patronales">
                                        <colgroup>
                                            <!-- Agrega más columnas según sea necesario -->

                                            <col style="width: 250px;"> <!-- Tercera columna -->
                                            <col style="width: 250px;"> <!-- Tercera columna -->
                                            <col style="width: 40px;">
                                        </colgroup>
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Registro Patronal</th>
                                                <th scope="col">Empresa</th>
                                                <th scope="col"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for registro in registrosPatronales %}
                                            <tr>

                                                <td>
                                                    <!-- Campo editable Registro Patronal -->
                                                    <input type="text" name="noRegistro[]"
                                                        id="numero_registro_patronal_{{ loop.index }}"
                                                        class="form-control"
                                                        value="{{ registro.numero_registro_patronal }}">
                                                </td>

                                                <td>
                                                    <select id="estadoRegistrosP_{{ loop.index }}" style="text-align: center;" class="form-control" name="estado[]" required>
                                                        <option id="selectEstados" value="">SELECIONA UN ESTADO</option>
                                                        <option value="AGUASCALIENTES"  {{ 'selected' if registro.estado == "AGUASCALIENTES" else '' }} >AGUASCALIENTES</option>
                                                        <option value="BAJA CALIFORNIA" {{ 'selected' if registro.estado == "BAJA CALIFORNIA" else '' }} >BAJA CALIFORNIA</option>
                                                        <option value="BAJA CALIFORNIA SUR" {{ 'selected'  if registro.estado == "BAJA CALIFORNIA SUR" else '' }}>BAJA CALIFORNIA SUR</option>
                                                        <option value="CHIAPAS" {{ 'selected' if registro.estado == "CHIAPAS" }}>CHIAPAS</option>
                                                        <option value="CHIHUAHUA"  {{ 'selected' if registro.estado == "CHIHUAHUA" }} >CHIHUAHUA</option>
                                                        <option value="CIUDAD DE MÉXICO"  {{ 'selected' if registro.estado == "CIUDAD DE MÉXICO" }} >CIUDAD DE MÉXICO</option>
                                                        <option value="COAHUILA" {{ 'selected' if registro.estado == "COAHUILA" }}>COAHUILA</option>
                                                        <option value="COLIMA" {{ 'selected' if registro.estado == "COLIMA" }}>COLIMA</option>
                                                        <option value="DURANGO" {{ 'selected' if registro.estado == "DURANGO" }}>DURANGO</option>
                                                        <option value="ESTADO DE MÉXICO" {{ 'selected' if registro.estado == "ESTADO DE MÉXICO" }}>ESTADO DE MÉXICO</option>
                                                        <option value="GUANAJUATO" {{ 'selected' if registro.estado == "GUANAJUATO" }}>GUANAJUATO</option>
                                                        <option value="GUERRERO" {{ 'selected' if registro.estado == "GUERRERO" }}>GUERRERO</option>
                                                        <option value="HIDALGO"  {{ 'selected' if registro.estado == "HIDALGO" }} >HIDALGO</option>
                                                        <option value="JALISCO"  {{ 'selected' if registro.estado == "JALISCO" }} >JALISCO</option>
                                                        <option value="MICHOACÁN" {{ 'selected' if registro.estado == "MICHOACÁN" }}>MICHOACÁN</option>
                                                        <option value="MORELOS" {{ 'selected' if registro.estado == "MORELOS" }}>MORELOS</option>
                                                        <option value="NAYARIT" {{ 'selected' if registro.estado == "NAYARIT" }} >NAYARIT</option>
                                                        <option value="NUEVO LEÓN" {{ 'selected' if registro.estado == "NUEVO LEÓN" else '' }}>NUEVO LEÓN</option>
                                                        <option value="OAXACA" {{ 'selected' if registro.estado == "OAXACA" else '' }}>OAXACA</option>
                                                        <option value="PUEBLA" {{ 'selected' if registro.estado == "PUEBLA" else '' }}>PUEBLA</option>
                                                        <option value="QUERÉTARO" {{ 'selected' if registro.estado == "QUERÉTARO" else '' }}>QUERÉTARO</option>
                                                        <option value="QUINTANA ROO" {{ 'selected' if registro.estado == "QUINTANA ROO" else '' }}>QUINTANA ROO</option>
                                                        <option value="SAN LUIS POTOSÍ" {{ 'selected' if registro.estado == "SAN LUIS POTOSÍ" else '' }}>SAN LUIS POTOSÍ</option>
                                                        <option value="SIN LOCALIDAD" {{ 'selected' if registro.estado == "SIN LOCALIDAD" else '' }}>SIN LOCALIDAD</option>
                                                        <option value="SINALOA" {{ 'selected' if registro.estado == "SINALOA" else '' }}>SINALOA</option>
                                                        <option value="SONORA" {{ 'selected' if registro.estado == "SONORA" else '' }}>SONORA</option>
                                                        <option value="TABASCO" {{ 'selected' if registro.estado == "TABASCO" else '' }}>TABASCO</option>
                                                        <option value="TAMAULIPAS" {{ 'selected' if registro.estado == "TAMAULIPAS" else '' }}>TAMAULIPAS</option>
                                                        <option value="TLAXCALA" {{ 'selected' if registro.estado == "TLAXCALA" else '' }}>TLAXCALA</option>
                                                        <option value="VERACRUZ" {{ 'selected' if registro.estado == "VERACRUZ" else '' }}>VERACRUZ</option>
                                                        <option value="YUCATÁN" {{ 'selected' if registro.estado == "YUCATÁN" else '' }}>YUCATÁN</option>
                                                        <option value="ZACATECAS" {{ 'selected' if registro.estado == "ZACATECAS" else '' }}>ZACATECAS</option>
                                                        <option value="ZACATECAS" {{ 'selected' if registro.estado == "ZACATECAS" else '' }}>ZACATECAS</option>

                                                    </select>
                                                    <div class="invalid-feedback">
                                                        SELECIONA UN ESTADO
                                                    </div>
                                                </td>
                                                <td style="display: none;">
                                                
                                                    <input type="text" name="fecha_registro_{{ loop.index }}"
                                                        id="fecha_registro_{{ loop.index }}" class="form-control"
                                                        value="{{ registro.fecha_registro }}">
                                                </td>
                                                <td style="display: none;">
                                                    
                                                    <input type="text" name="usuario_id_{{ loop.index }}"
                                                        id="usuario_id_{{ loop.index }}" class="form-control"
                                                        value="{{ registro.usuario_id }}">
                                                </td>
                                                <td style="display: none;">
                                                    
                                                    <input type="text" name="is_blocked_{{ loop.index }}"
                                                        id="is_blocked_{{ loop.index }}" class="form-control"
                                                        value="{{ registro.is_blocked }}">
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center"
                                                        style="height: 100%;margin-top: 30px;">
                                                        <button onclick="eliminarFila(this)" class="btn"><i
                                                                class="bi bi-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <!--FIN CONTACTO-->
                            </div>
                            <!--FIN REGISTROS PATRONALES-->
                            <!-- INICIO REPRESENTANCTE LEGALES-->
                            <div class="tab-pane fade" id="representantes-tab-pane" role="tabpanel"
                                aria-labelledby="profile-tab" tabindex="0">
                                <br>
                                <p class="h4">REPRESENTANTE LEGAL</p>
                                <hr>
                                <br>
                                <div class="container-fluid">
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="NOMBRE_REPRESENTANTE1" class="form-label">NOMBRE*</label>
                                            <input type="text" class="form-control" id="NOMBRE_REPRESENTANTE1"
                                                name="NOMBRE_REPRESENTANTE1"  value="{{ empresa.nombre_representante1 }}" required>
                                            <div class="invalid-feedback">
                                                Completar Nombre
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="APELLIDO_REPRESENTANTE1" class="form-label">APELLIDO*</label>
                                            <input type="text" class="form-control" id="APELLIDO_REPRESENTANTE1"
                                                name="APELLIDO_REPRESENTANTE1" value="{{ empresa.apellido_representante1 }}" required>
                                            <div class="invalid-feedback">
                                                Completar Apellido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="TelefonoContacto1" class="form-label">TELEFONO*</label>
                                            <input type="text" class="form-control" id="TELEFONO_REPRESENTANTE1"
                                                name="TELEFONO_REPRESENTANTE1" value="{{ empresa.telefono_representante1 }}" required>
                                            <div class="invalid-feedback">
                                                Completar Teléfono
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="CORREO_REPRESENTANTE1" class="form-label">CORREO*</label>
                                            <input type="email" class="form-control" id="CORREO_REPRESENTANTE1"
                                                name="CORREO_REPRESENTANTE1" value="{{ empresa.correo_representante1 }}" required>
                                            <div class="invalid-feedback">
                                                Completar Correo electrónico
                                            </div>
                                        </div>
                                    </div>
                                    <!-- REPRESENTANTE LEGAL 2-->
                                    <br>
                                    <p class="h4">REPRESENTANTE LEGAL</p>
                                    <hr>
                                    <br>
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="NOMBRE_REPRESENTANTE2" class="form-label">NOMBRE</label>
                                            <input type="text" class="form-control" id="NOMBRE_REPRESENTANTE2"
                                                name="NOMBRE_REPRESENTANTE2" value="{{ empresa.nombre_representante2 }}">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="APELLIDO_REPRESENTANTE2" class="form-label">APELLIDO</label>
                                            <input type="text" class="form-control" id="APELLIDO_REPRESENTANTE2"
                                                name="APELLIDO_REPRESENTANTE2" value="{{ empresa.apellido_representante2 }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="TELEFONO_REPRESENTANTE2" class="form-label">TELEFONO</label>
                                            <input type="tel" class="form-control" id="TELEFONO_REPRESENTANTE2"
                                                name="TELEFONO_REPRESENTANTE2" value="{{ empresa.telefono_representante2 }}">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label for="CORREO_REPRESENTANTE2" class="form-label">CORREO</label>
                                            <input type="email" class="form-control" id="CORREO_REPRESENTANTE2"
                                                name="CORREO_REPRESENTANTE2" value="{{ empresa.correo_representante2 }}">
                                        </div>
                                    </div>

                                </div>
                                <!--FIN REPRESENTANTE LEGAL 1-->
                                <br>
                            </div>
                            <!--FIN REPRESENTANTE LEGALES-->
                            <!-- APODERADO LEGAL -->
                            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel"
                                aria-labelledby="disabled-tab" tabindex="0">
                                <br>
                                <!--APODERADO LEGAL-->
                                <div class="form-group row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label for="NOMBRE_APODERADO" class="form-label">NOMBRE</label>
                                        <input type="text" class="form-control" id="NOMBRE_APODERADO"
                                            name="NOMBRE_APODERADO" value="{{ empresa.nombre_apoderado}}" >
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label for="APELLIDO_APODERADO" class="form-label">APELLIDO</label>
                                        <input type="text" class="form-control" id="APELLIDO_APODERADO"
                                            name="APELLIDO_APODERADO" value="{{ empresa.apellido_apoderado}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label for="TELEFONO_APODERADO" class="form-label">TELEFONO</label>
                                        <input type="text" class="form-control" id="TELEFONO_APODERADO"
                                            name="TELEFONO_APODERADO" value="{{ empresa.telefono_apoderado }}">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label for="CORREO_APODERADO" class="form-label">CORREO</label>
                                        <input type="email" class="form-control" id="CORREO_APODERADO"
                                            name="CORREO_APODERADO" value="{{ empresa.correo_apoderado }}">
                                    </div>
                                </div>
                                <!--FIN APODERADO LEGAL-->
                                <br>
                            </div>
                            <!--DIRECCIÓN-->
                            <div class="tab-pane fade" id="direccion-tab-pane" role="tabpanel"
                                aria-labelledby="disabled-tab" tabindex="0">
                                <br>
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label for="CALLE" class="form-label">CALLE*</label>
                                        <input type="text" class="form-control" id="CALLE" name="CALLE" maxlength="50"
                                            placeholder="CALLE" value="{{ empresa.calle }}" required>
                                        <div class="invalid-feedback">
                                            COMPLETA CALLE
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. EXTERIOR</label>
                                        <input type="text" class="form-control" value="{{ empresa.no_exterior }}" name="NO_EXTERIOR" id="NO_EXTERIOR"
                                            placeholder="NO. EXTERIOR">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. INTERIOR</label>
                                        <input type="text" class="form-control" value="{{ empresa.no_interior }}" name="NO_INTERIOR" id="NO_INTERIOR"
                                            placeholder="NO. INTERIOR">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="CP" class="form-label">CP*</label>
                                        <input type="text" class="form-control" id="CP" value="{{ empresa.cp }}" name="CP"
                                             value="{{ empresa.cp }}" required>
                                        <div class="invalid-feedback">
                                            COMPLETAR Código Postal
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label for="ESTADO" class="form-label">ESTADO</label>
                                        <select style="text-align: center;" class="form-control" name="ESTADO" required>
                                            <option id="ESTADO" value="">SELECIONA UN ESTADO</option>
                                            <option value="AGUASCALIENTES"  {{ 'selected' if empresa.estado == "AGUASCALIENTES" else '' }} >AGUASCALIENTES</option>
                                            <option value="BAJA CALIFORNIA" {{ 'selected' if empresa.estado == "BAJA CALIFORNIA" else '' }} >BAJA CALIFORNIA</option>
                                            <option value="BAJA CALIFORNIA SUR" {{ 'selected'  if empresa.estado == "BAJA CALIFORNIA SUR" else '' }}>BAJA CALIFORNIA SUR</option>
                                            <option value="CHIAPAS" {{ 'selected' if empresa.estado == "CHIAPAS" }}>CHIAPAS</option>
                                            <option value="CHIHUAHUA"  {{ 'selected' if empresa.estado == "CHIHUAHUA" }} >CHIHUAHUA</option>
                                            <option value="CIUDAD DE MÉXICO"  {{ 'selected' if empresa.estado == "CIUDAD DE MÉXICO" }} >CIUDAD DE MÉXICO</option>
                                            <option value="COAHUILA" {{ 'selected' if empresa.estado == "COAHUILA" }}>COAHUILA</option>
                                            <option value="COLIMA" {{ 'selected' if empresa.estado == "COLIMA" }}>COLIMA</option>
                                            <option value="DURANGO" {{ 'selected' if empresa.estado == "DURANGO" }}>DURANGO</option>
                                            <option value="ESTADO DE MÉXICO" {{ 'selected' if empresa.estado == "ESTADO DE MÉXICO" }}>ESTADO DE MÉXICO</option>
                                            <option value="GUANAJUATO" {{ 'selected' if empresa.estado == "GUANAJUATO" }}>GUANAJUATO</option>
                                            <option value="GUERRERO" {{ 'selected' if empresa.estado == "GUERRERO" }}>GUERRERO</option>
                                            <option value="HIDALGO"  {{ 'selected' if empresa.estado == "HIDALGO" }} >HIDALGO</option>
                                            <option value="JALISCO"  {{ 'selected' if empresa.estado == "JALISCO" }} >JALISCO</option>
                                            <option value="MICHOACÁN" {{ 'selected' if empresa.estado == "MICHOACÁN" }}>MICHOACÁN</option>
                                            <option value="MORELOS" {{ 'selected' if empresa.estado == "MORELOS" }}>MORELOS</option>
                                            <option value="NAYARIT" {{ 'selected' if empresa.estado == "NAYARIT" }} >NAYARIT</option>
                                            <option value="NUEVO LEÓN" {{ 'selected' if empresa.estado == "NUEVO LEÓN" else '' }}>NUEVO LEÓN</option>
                                            <option value="OAXACA" {{ 'selected' if empresa.estado == "OAXACA" else '' }}>OAXACA</option>
                                            <option value="PUEBLA" {{ 'selected' if empresa.estado == "PUEBLA" else '' }}>PUEBLA</option>
                                            <option value="QUERÉTARO" {{ 'selected' if empresa.estado == "QUERÉTARO" else '' }}>QUERÉTARO</option>
                                            <option value="QUINTANA ROO" {{ 'selected' if empresa.estado == "QUINTANA ROO" else '' }}>QUINTANA ROO</option>
                                            <option value="SAN LUIS POTOSÍ" {{ 'selected' if empresa.estado == "SAN LUIS POTOSÍ" else '' }}>SAN LUIS POTOSÍ</option>
                                            <option value="SIN LOCALIDAD" {{ 'selected' if empresa.estado == "SIN LOCALIDAD" else '' }}>SIN LOCALIDAD</option>
                                            <option value="SINALOA" {{ 'selected' if empresa.estado == "SINALOA" else '' }}>SINALOA</option>
                                            <option value="SONORA" {{ 'selected' if empresa.estado == "SONORA" else '' }}>SONORA</option>
                                            <option value="TABASCO" {{ 'selected' if empresa.estado == "TABASCO" else '' }}>TABASCO</option>
                                            <option value="TAMAULIPAS" {{ 'selected' if empresa.estado == "TAMAULIPAS" else '' }}>TAMAULIPAS</option>
                                            <option value="TLAXCALA" {{ 'selected' if empresa.estado == "TLAXCALA" else '' }}>TLAXCALA</option>
                                            <option value="VERACRUZ" {{ 'selected' if empresa.estado == "VERACRUZ" else '' }}>VERACRUZ</option>
                                            <option value="YUCATÁN" {{ 'selected' if empresa.estado == "YUCATÁN" else '' }}>YUCATÁN</option>
                                            <option value="ZACATECAS" {{ 'selected' if empresa.estado == "ZACATECAS" else '' }}>ZACATECAS</option>
                                          </select>
                                          <div class="invalid-feedback">
                                            SELECIONA UN ESTADO
                                          </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label for="MUNICIPIO" class="form-label">MUNICIPIO*</label>
                                        <input type="text" class="form-control" name="MUNICIPIO" id="MUNICIPIO"
                                            placeholder="MUNICIPIO" value="{{ empresa.municipio}}" required>
                                        <div class="invalid-feedback">
                                            COMPLETA MUNICIPIO
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="PAIS" class="form-label">PAÍS*</label>
                                        <input type="text" class="form-control" value="{{empresa.pais}}" name="PAIS" id="PAIS" value="MÉXICO"
                                            required>
                                        <div class="invalid-feedback">
                                            COMPLETA PAÍS
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- INICIO INFORMACIÓN BANCARÍA -->
                            <div class="tab-pane fade" id="inf_banco-tab-pane" role="tabpanel"
                                aria-labelledby="regitrosPatronales-tab" tabindex="0">
                                <br>
                                <!--BOTONES INFORMACION BANCARIA -->
                                <div class="container-fluid">
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                                            <button class="btn botones" type="button"
                                                onclick="añadirCuentasBancarias()">
                                                <i class="bi bi-window-plus"></i> Agregar una cuenta bancaría
                                        </div>
                                    </div>

                                </div>
                                <!--FIN BOTONES CONTACTOS-->
                                <br>
                                <!--TABLA REGISTROS PATRONALES-->
                                <div class="container-fluid">
                                    <table class="table table-borderless" id="Cuentas_Bancarias">
                                        <colgroup>
                                            <!-- Agrega más columnas según sea necesario -->
                                            <col style="width: 250px;"> <!-- Primera columna -->
                                            <col style="width: 250px;"> <!-- Segunda columna -->
                                            <col style="width: 250px;"> <!-- Tercera columna -->
                                            <col style="width: 40px;">
                                        </colgroup>
                                        <thead class="table">
                                            <tr>
                                                <th scope="col">BANCO</th>
                                                <th scope="col">NO. Cuenta</th>
                                                <th scope="col">CLABE</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cuenta in cuentas %}
                                            <tr>
                                                <td>
                                                    <select name="BANCO[]" class="form-control" style="text-align: center;" required>
                                                        {% for b in bancos %}
                                                            <option value="{{ b.id }}" {% if cuenta.id_banco == b.id %}selected{% endif %}>{{ b.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        SELECCIONA UN BANCO
                                                    </div>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" name="NO_CUENTA[]" maxlength="20" value="{{ cuenta.numero_cuenta }}"
                                                        onchange="formatearCLABE(this)" required>
                                                    <div class="invalid-feedback">
                                                        Completa número de cuenta
                                                    </div>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" name="CLABE[]" maxlength="19" value="{{ cuenta.clabe }}"
                                                        onchange="formatearCLABE(this)" required>
                                                    <div class="invalid-feedback">
                                                        Completa CLABE
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%; margin-top: 30px;">
                                                        <button type="button" onclick="eliminarFila(this)" class="btn"><i class="bi bi-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <!--FIN TABLA REGISTROS PATRONALES-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='JS/validar_formulario.js') }}"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()




    document.getElementById('EditarEmpresa').addEventListener('click', function () {
        // Obtener el valor del ID
        var idInput = document.getElementById('idInput');
        if (!idInput) {
            console.error('Elemento con id "idInput" no encontrado.');
            return;
        }
        var id = idInput.value;

        // Crear el objeto FormData
        var formData = new FormData();

        // Obtener y verificar cada campo antes de agregarlo a FormData
        var fields = [
            'REPSE',
            'RAZON_SOCIAL',
            'RFC',
            'REG_FISCAL',
            'NOMBRE_REPRESENTANTE1',
            'APELLIDO_REPRESENTANTE1',
            'TELEFONO_REPRESENTANTE1',
            'CORREO_REPRESENTANTE1',
            'NOMBRE_REPRESENTANTE2',
            'APELLIDO_REPRESENTANTE2',
            'TELEFONO_REPRESENTANTE2',
            'CORREO_REPRESENTANTE2',
            'NOMBRE_APODERADO',
            'APELLIDO_APODERADO',
            'TELEFONO_APODERADO',
            'CORREO_APODERADO',
            'CP',
            'ESTADO',
            'CIUDAD',
            'DIRECCION'
        ];


        fields.forEach(function (fieldId) {
            var field = document.getElementById(fieldId);
            if (field) {
                formData.append(fieldId, field.value);
            } else {
                console.warn('Elemento con id "' + fieldId + '" no encontrado.');
            }
        });

        // Obtener el token CSRF por name
        var csrfTokenInput = document.querySelector('input[name="csrf_token"]');
        if (csrfTokenInput) {
            var csrfToken = csrfTokenInput.value;
            formData.append('csrf_token', csrfToken); // Añadir el token CSRF a los datos del formulario
        } else {
            console.error('Elemento con name "csrf_token" no encontrado.');
            return;
        }

        // Realizar la solicitud fetch
        fetch('/api/update_empresa/' + id, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken // Añadir token CSRF a las cabeceras
            }
        })
            .then(response => response.text())
            .then(text => {
                console.log(text); // Manejo de la respuesta
                try {
                    const data = JSON.parse(text);
                    if (data.success) {
                        // Mostrar SweetAlert2
                        Swal.fire({
                            title: 'Éxito!',
                            text: 'Empresa actualizada correctamente',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            // Limpiar todos los campos
                            fields.forEach(function (fieldId) {
                                var field = document.getElementById(fieldId);
                                if (field) {
                                    field.value = '';
                                }
                            });
                            idInput.value = ''; // Limpiar el campo ID
                        });
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Error al actualizar la empresa: ' + data.error,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                } catch (err) {
                    console.error('Error al interpretar la respuesta como JSON:', err);
                }
            })
            .catch(error => console.error('Error:', error));
    });

    function añadirRegistro() {
        var tabla = document.getElementById("Registros_Patronales");
        var cuerpoTabla = tabla.getElementsByTagName("tbody")[0];
        var newRow = cuerpoTabla.insertRow(0);

        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2); // Celda para el botón de eliminar

        cell1.innerHTML =
            '<input type="text"  class="form-control" name="noRegistro[]" required>' +
            '<div class="invalid-feedback">' +
            "Completa No de registro patronal" +
            "</div>";
        cell2.innerHTML =`
        <select id="selectEstados" class="form-control" name="estado[]" required>
          <option id="selectEstados" value="" style="text-align: center;">SELECIONA UN ESTADO</option>
          <option value="AGUASCALIENTES">AGUASCALIENTES</option>
          <option value="BAJA CALIFORNIA">BAJA CALIFORNIA</option>
          <option value="BAJA CALIFORNIA SUR">BAJA CALIFORNIA SUR</option>
          <option value="CHIAPAS">CHIAPAS</option>
          <option value="CHIHUAHUA">CHIHUAHUA</option>
          <option value="CIUDAD DE MÉXICO">CIUDAD DE MÉXICO</option>
          <option value="COAHUILA">COAHUILA</option>
          <option value="COLIMA">COLIMA</option>
          <option value="DURANGO">DURANGO</option>
          <option value="ESTADO DE MÉXICO">ESTADO DE MÉXICO</option>
          <option value="GUANAJUATO">GUANAJUATO</option>
          <option value="GUERRERO">GUERRERO</option>
          <option value="HIDALGO">HIDALGO</option>
          <option value="JALISCO">JALISCO</option>
          <option value="MICHOACÁN">MICHOACÁN</option>
          <option value="MORELOS">MORELOS</option>
          <option value="NAYARIT">NAYARIT</option>
          <option value="NUEVO LEÓN">NUEVO LEÓN</option>
          <option value="OAXACA">OAXACA</option>
          <option value="PUEBLA">PUEBLA</option>
          <option value="QUERÉTARO">QUERÉTARO</option>
          <option value="QUINTANA ROO">QUINTANA ROO</option>
          <option value="SAN LUIS POTOSÍ">SAN LUIS POTOSÍ</option>
          <option value="SIN LOCALIDAD">SIN LOCALIDAD</option>
          <option value="SINALOA">SINALOA</option>
          <option value="SONORA">SONORA</option>
          <option value="TABASCO">TABASCO</option>
          <option value="TAMAULIPAS">TAMAULIPAS</option>
          <option value="TLAXCALA">TLAXCALA</option>
          <option value="VERACRUZ">VERACRUZ</option>
          <option value="YUCATÁN">YUCATÁN</option>
          <option value="ZACATECAS">ZACATECAS</option>
          <option value="SIN LOCALIDAD">SIN LOCALIDAD</option>
        </select>

        <div class="invalid-feedback">
          SELECIONA UN ESTADO
        </div>`;
        cell3.innerHTML =
            '<div class="d-flex align-items-center justify-content-center" style="height: 100%;margin-top: 30px;">' +
            '<button onclick="eliminarFila(this)" class="btn"><i class="bi bi-trash"></i></button>' +
            "</div>";
    }

    function eliminarFila(btn) {
        var row = btn.parentNode.parentNode.parentNode; // Navegar del botón a la celda, de la celda a la fila
        row.parentNode.removeChild(row); // Eliminar la fila del DOM
    }

    function añadirCuentasBancarias() {
        var tabla = document.getElementById("Cuentas_Bancarias");
        var cuerpoTabla = tabla.getElementsByTagName("tbody")[0];
        var newRow = cuerpoTabla.insertRow(0);

        var cell1 = newRow.insertCell(0);
        var cell2 = newRow.insertCell(1);
        var cell3 = newRow.insertCell(2); // Celda para el botón de eliminar
        var cell4 = newRow.insertCell(3);

        cell1.innerHTML = `
      <label class="form-label">SELECCIONA UN BANCO:</label>
      <select id="SELECT_BANCO" name="BANCO[]" class="form-control" style="text-align: center;" required>
        <option value="">Selecciona un banco</option>
      </select>
      <div class="invalid-feedback">
        SELECIONA UN BANCO
      </div>
    `;

        cell2.innerHTML = `
      <label class="form-label">NO CUENTA</label>
      <input type="text" class="form-control" name="NO_CUENTA[]" maxlength="21" oninput="formatearCLABE(this)" required>
      <div class="invalid-feedback">
      "Completa Estado de resgistro patronal"
      </div>
    `;

        cell3.innerHTML = `
      <label class="form-label">CLABE</label>
      <input type="text" class="form-control" name="CLABE[]" maxlength="21" oninput="formatearCLABE(this)" required>
      <div class="invalid-feedback">
      "Completa  CLABE"
      </div>
    `;
        cell4.innerHTML = `
    <div class="d-flex align-items-center justify-content-center" style="height: 100%;margin-top: 30px;">
      <button onclick="eliminarFila(this)" class="btn"><i class="bi bi-trash"></i></button>
    </div>
    `;

        cargaBancos(newRow);
    }

    function cargaBancos(row) {
        fetch("/api/obtener_bancos/")
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                console.log(data);
                const select = row.querySelector("#SELECT_BANCO");
                data.forEach((banco) => {
                    const option = document.createElement("option");
                    option.value = banco.id;
                    option.textContent = banco.nombre;
                    select.appendChild(option);
                });
            })
            .catch((error) => console.error("Error:", error));
    }
</script>

{% endblock %}