<!--IMPORTAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}MODIFICAR PROVEEDOR{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}

{% endblock %}

{% block titutlo %}MODIFICAR PROVEEDOR{% endblock %}

<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}
<br>
<form class="needs-validation" novalidate action="{{ url_for('edit_proveedor', id=proveedor.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="token" value="{{ token }}">

        <div class="container-fluid">
            <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="text-center">
                    <button class="btn botones" type="submit">CONFIRMAR</button>
                </div>
            </div>
        </div>
        <div class="container" style="display: none;">
            <div class="form-group row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="display: none;">
                    <label for="ID_PROVEEDOR" class="form-label">SIGUIENTE PROVEEDOR: </label>
                    <input type="text" class="form-control" id="ID_PROVEEDOR" name="ID_PROVEEDOR"
                        value="{{ proveedor.id }}" style="text-align: center;" readonly>
                </div>
            </div>
        </div>
        <br>
        <!--INICIA CARD CLIENTES -->
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                                INFORMACIÓN GENERAL
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="direccion-tab" data-bs-toggle="tab" data-bs-target="#direccion-tab-pane"
                                type="button" role="tab" aria-controls="direccion-tab-pane" aria-selected="false">DIRECCIÓN</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="especialidad-tab" data-bs-toggle="tab"
                                data-bs-target="#especialidad-tab-pane" type="button" role="tab"
                                aria-controls="especialidad-tab-pane" aria-selected="false">ESPECIALIDADES</button>
                        </li>
            
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                                CONTACTO</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank-tab-pane"
                                type="button" role="tab" aria-controls="bank-tab-pane" aria-selected="false">
                                CUENTAS
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                            tabindex="0">
                            <br>
                            <!--Informacion General-->
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="RAZON_SOCIAL" class="form-label">RAZÓN SOCIAL</label>
                                    <input type="text" class="form-control" name="RAZON_SOCIAL" id="RAZON_SOCIAL"
                                        placeholder="RAZÓN SOCIAL" value="{{ proveedor.razon_social }}" required>
                                    <div class="invalid-feedback">
                                        COMPLETA RAZÓN SOCIAL
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="RFC" class="form-label">RFC</label>
                                    <input type="text" class="form-control" value="{{ proveedor.rfc }}" name="RFC" id="RFC" placeholder="RFC" required>
                                    <div class="invalid-feedback">
                                        COMPLETA RFC
                                    </div>
                                </div>
            
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <label for="REGIMEN_FISCAL" class="form-label">Régimen Fiscal</label>
                                    <select class="form-control" name="REGIMEN_FISCAL" id="REGIMEN_FISCAL" required>
                                        <option value="" style="text-align: center;">------Selecciona------</option>
                                
                                        <optgroup label="Personas morales">
                                            <option value="601" {{ 'selected' if proveedor.regimen_fiscal_id == 601 else '' }}>601 General de Ley Personas Morales</option>
                                            <option value="603" {{ 'selected' if proveedor.regimen_fiscal_id == 603 else '' }}>603 Personas Morales con Fines no Lucrativos</option>
                                            <option value="607" {{ 'selected' if proveedor.regimen_fiscal_id == 607 else '' }}>607 Régimen de Enajenación o Adquisición de Bienes</option>
                                            <option value="610" {{ 'selected' if proveedor.regimen_fiscal_id == 610 else '' }}>610 Residentes en el Extranjero sin Establecimiento Permanente en México</option>
                                            <option value="620" {{ 'selected' if proveedor.regimen_fiscal_id == 620 else '' }}>620 Sociedades Cooperativas de Producción que optan por diferir sus ingresos</option>
                                            <option value="622" {{ 'selected' if proveedor.regimen_fiscal_id == 622 else '' }}>622 Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                                            <option value="623" {{ 'selected' if proveedor.regimen_fiscal_id == 623 else '' }}>623 Opcional para Grupos de Sociedades</option>
                                            <option value="624" {{ 'selected' if proveedor.regimen_fiscal_id == 624 else '' }}>624 Coordinados</option>
                                            <option value="626" {{ 'selected' if proveedor.regimen_fiscal_id == 626 else '' }}>626 Régimen Simplificado de Confianza</option>
                                            <option value="628" {{ 'selected' if proveedor.regimen_fiscal_id == 628 else '' }}>628 Hidrocarburos</option>
                                        </optgroup>
                                        <optgroup label="Personas físicas">
                                            <option value="605" {{ 'selected' if proveedor.regimen_fiscal_id == 605 else '' }}>605 Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                                            <option value="606" {{ 'selected' if proveedor.regimen_fiscal_id == 606 else '' }}>606 Arrendamiento</option>
                                            <option value="608" {{ 'selected' if proveedor.regimen_fiscal_id == 608 else '' }}>608 Demás ingresos</option>
                                            <option value="611" {{ 'selected' if proveedor.regimen_fiscal_id == 611 else '' }}>611 Ingresos por Dividendos (socios y accionistas)</option>
                                            <option value="612" {{ 'selected' if proveedor.regimen_fiscal_id == 612 else '' }}>612 Personas Físicas con Actividades Empresariales y Profesionales</option>
                                            <option value="614" {{ 'selected' if proveedor.regimen_fiscal_id == 614 else '' }}>614 Ingresos por intereses</option>
                                            <option value="615" {{ 'selected' if proveedor.regimen_fiscal_id == 615 else '' }}>615 Régimen de los ingresos por obtención de premios</option>
                                            <option value="616" {{ 'selected' if proveedor.regimen_fiscal_id == 616 else '' }}>616 Sin obligaciones fiscales</option>
                                            <option value="621" {{ 'selected' if proveedor.regimen_fiscal_id == 621 else '' }}>621 Incorporación Fiscal</option>
                                            <option value="625" {{ 'selected' if proveedor.regimen_fiscal_id == 625 else '' }}>625 Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas</option>
                                            <option value="629" {{ 'selected' if proveedor.regimen_fiscal_id == 629 else '' }}>629 De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales</option>
                                            <option value="630" {{ 'selected' if proveedor.regimen_fiscal_id == 630 else '' }}>630 Enajenación de acciones en bolsa de valores</option>
                                        </optgroup>
                                    </select>
                                    <div class="invalid-feedback">
                                        SELECCIONA UN REGIMEN FISCAL
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="TIPO" class="form-label">PROVEEDOR O CONTRATISTA</label>
                                    <select class="form-control" name="TIPO" id="TIPO" required>
                                        <option value="1" {{ 'selected' if proveedor.tipo_id == 1 else '' }}>CONTRATISTA</option>
                                        <option value="2" {{ 'selected' if proveedor.tipo_id == 2 else '' }}>PROVEEDOR</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        SELECCIONA PROVEEDOR O CONTRATISTA
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fin info general-->
                        <div class="tab-pane fade" id="direccion-tab-pane" role="tabpanel" aria-labelledby="direccion-tab"
                            tabindex="0">
                            <br>
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="CP" class="form-label">CP*</label>
                                        <input type="text" class="form-control" id="CP" style="text-align: center;" value="{{ proveedor.cp }}" name="CP" ma placeholder="CÓDIGO POSTAL"
                                            required>
                                        <div class="invalid-feedback">
                                            COMPLETA CODIGO POSTAL
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label for="ESTADO" class="form-label">ESTADO*</label>
                                        <input type="text" class="form-control" id="ESTADO" style="text-align: center;" value="{{ proveedor.estado }}" name="ESTADO" placeholder="ESTADO"
                                            required>
                                        <div class="invalid-feedback">
                                            COMPLETA ESTADO
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label for="MUNICIPIO" class="form-label">MUNICIPIO*</label>
                                        <input type="text" class="form-control" style="text-align: center;"  value="{{ proveedor.municipio }}"  name="MUNICIPIO" id="MUNICIPIO"
                                            placeholder="MUNICIPIO" required>
                                        <div class="invalid-feedback">
                                            COMPLETA MUNICIPIO
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="PAIS" class="form-label">PAÍS*</label>
                                        <input type="text" class="form-control" style="text-align: center;" name="PAIS" id="PAIS" value="{{ proveedor.pais }}" required>
                                        <div class="invalid-feedback">
                                            COMPLETA PAÍS
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label for="CALLE" class="form-label">CALLE*</label>
                                        <input type="text" class="form-control" id="CALLE" style="text-align: center;" value="{{ proveedor.calle }}"  name="CALLE" maxlength="50"
                                            placeholder="CALLE" required>
                                        <div class="invalid-feedback">
                                            COMPLETA CALLE
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label for="COLONIA" class="form-label">COLONIA*</label>
                                        <input type="text" class="form-control" id="COLONIA" style="text-align: center;" value="{{ proveedor.colonia }}"  name="COLONIA" maxlength="50"
                                            placeholder="COLONIA" required>
                                        <div class="invalid-feedback">
                                            COMPLETA COLONIA
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. EXTERIOR</label>
                                        <input type="text" class="form-control" style="text-align: center;" value="{{ proveedor.numero_exterior }}" name="NO_EXTERIOR" id="NO_EXTERIOR"
                                            placeholder="NÚMERO EXTERIOR">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. INTERIOR</label>
                                        <input type="text" class="form-control" style="text-align: center;" value="{{ proveedor.numero_interior }}"  name="NO_INTERIOR" id="NO_INTERIOR"
                                            placeholder="NÚMERO INTERIOR">
                                    </div>
                                </div>
                            </div>
                            <!--Fin de direccion-->
                        </div>
                        <div class="tab-pane fade" id="especialidad-tab-pane" role="tabpanel" aria-labelledby="especialidad-tab"
                            tabindex="0">
                            <br>
                            <!--Asignacion de especialidades-->
                            <div class="container">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn botones" onclick="añadirEspecialidad()"> AGREGAR
                                        ESPECIALIDAD</button>
                                </div>
                            </div>
                            <br>
                            <div class="container-fluid">
                                <table class="table table-borderless" id="Especialidades">
                                    <colgroup>
                                        <!-- Agrega más columnas según sea necesario -->
                                        <col style="width: 250px;"> <!-- Primera columna -->
                                        <col style="width: 40px;">
                                    </colgroup>
                                    <thead class="table">
                                        <th scope="col">ESPECIALIDAD</th>
                                        <th scope="col"></th>
                                    </thead>
                                    <tbody>
                                        {% for especialidad in especialidades %}
                                        <tr>
                                            <td>
                                                <input type="text" placeholder="BUSCAR" value="{{ especialidad.descripcion }}" class="form-control" style="text-align: center" id="INPUT_ESPECIALIDADES_{{loop.index}}" name="ESPECIALIDADES[]" autocomplete="off" required>
                                                <input type="hidden" class="form-control" value="{{ especialidad.id_especialidad }}" id="INPUT_ID_ESPECIALIDADES_{{loop.index}}" name="ID_ESPECIALIDADES[]">
                                                <div class="autocomplete-items" ></div>
                                                <div class="invalid-feedback">
                                                    SELECCIONA UNA ESPECIALIDAD
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                                    <button onclick="eliminarFila(this)" class="btn"><i class="bi bi-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
            
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                            <br>

                            <!--BOTONES ACCIONES-->
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn botones" onclick="añadirContacto()"> AGREGAR
                                            CONTACTO</button>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <div class="container-fluid">
                                <table class="table table-borderless" id="Contactos">
                                    <colgroup>
                                        <!-- Agrega más columnas según sea necesario -->
                                        <col style="width: 250px;"> <!-- Primera columna -->
                                        <col style="width: 250px;"> <!-- Segunda columna -->
                                        <col style="width: 250px;"> <!-- Tercera columna -->
                                        <col style="width: 250px;"> <!-- Cuarta columna -->
                                        <col style="width: 250px;">
                                        <col style="width: 40px;">
                                    </colgroup>
                                    <thead class="table">
                                        <tr>
                                         
                                                <th scope="col">NOMBRE</th>
                                                <th scope="col">APELLIDO</th>
                                                <th scope="col">TELEFONO</th>
                                                <th scope="col">CORREO</th>
                                                <th scope="col">PUESTO</th>
                                                <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cc in contactos %}
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.nombre }}"
                                                    name="NOMBRE_CONTACTO[]" style="text-align: center;" required="">
                                                <div class="invalid-feedback">
                                                    Completa Nombre
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.apellido }}"
                                                    name="APELLIDO_CONTACTO[]" style="text-align: center;" required="">
                                                <div class="invalid-feedback">
                                                    Completa Apellido
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.telefono }}"
                                                    name="TELEFONO_CONTACTO[]" style="text-align: center;" required="">
                                                <div class="invalid-feedback">
                                                    Completa Telefono
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.correo }}"
                                                    name="CORREO_CONTACTO[]"  style="text-align: center;"  required="">
                                                <div class="invalid-feedback">
                                                    Completa Correo
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.puesto }}"
                                                    name="PUESTO_CONTACTO[]" style="text-align: center;" required="">
                                                <div class="invalid-feedback">
                                                    Completa Puesto
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center"
                                                    style="height: 100%;margin-top: 30px;"><button
                                                        onclick="eliminarFila(this)" class="btn"><i
                                                            class="bi bi-trash"></i></button></div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bank-tab-pane" role="tabpanel" aria-labelledby="bank-tab" tabindex="0">
                            <br>
                            <!--BOTONES INFORMACION BANCARIA -->
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn botones" onclick="añadirCuentasBancarias()">AGREGAR
                                            CUENTA</button>                                            
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <div class="table-container">
                                <table class="table table-borderless" id="Cuentas_Bancarias">
                                    <colgroup>
                                        <!-- Agrega más columnas según sea necesario -->
                                        <col style="width: 250px;"> <!-- Primera columna -->
                                        <col style="width: 250px;"> <!-- Segunda columna -->
                                        <col style="width: 250px;"> <!-- Tercera columna -->
                                        <col style="width: 40px;">
                                    </colgroup>
                                    <thead class="table">
                                        <tr>
                                            <th scope="col">BANCO</th>
                                            <th scope="col">NO. Cuenta</th>
                                            <th scope="col">CLABE</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cuenta in cuentas %}
                                            <tr>
                                                <td>
                                                    <select name="BANCO[]" class="form-control" style="text-align: center;" required>
                                                        {% for b in bancos %}
                                                            <option value="{{ b.id }}" {% if cuenta.id_banco == b.id %}selected{% endif %}>{{ b.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        SELECCIONA UN BANCO
                                                    </div>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" name="NO_CUENTA[]" style="text-align: center;" maxlength="20" value="{{ cuenta.numero_cuenta }}"
                                                        onchange="formatearCLABE(this)" required>
                                                    <div class="invalid-feedback">
                                                        Completa número de cuenta
                                                    </div>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" name="CLABE[]" style="text-align: center;" maxlength="19" value="{{ cuenta.clabe }}"
                                                        onchange="formatearCLABE(this)" required>
                                                    <div class="invalid-feedback">
                                                        Completa CLABE
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%; margin-top: 30px;">
                                                        <button type="button" onclick="eliminarFila(this)" class="btn"><i class="bi bi-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--Fin Info Bancaria-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </form>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='JS/funciones_altaProveedor.js') }}"></script>


{% endblock %}