<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}MODIFICAR CLIENTE{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styele_alta_empresas.css') }}">

{% endblock %}

{% block titutlo %}MODIFICAR CLIENTE{% endblock %}

<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}
<br>
<form class="needs-validation" novalidate accion="/Altacliente" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="token" value="{{ token }}">
    

    <div class="container-fluid">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="text-center">
                <button class="btn botones" type="submit">CONFIRMA</button>
            </div>
        </div>
    </div>
    <!--INICIA INFORMACIÓN GENERAL-->
    <br>
    <div class="container" style="display: none;">
        <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="ID_CLIENTE" class="form-label">Siguiente cliente: </label>
                <input type="text" class="form-control" style="text-align: center;" id="ID_CLIENTE" name="ID_CLIENTE"
                    value="{{ cliente.id }}" readonly>
            </div>
        </div>
    </div>

    <!--INICIA CARD CLIENTES -->
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">

            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <br>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#informacion-tab-pane" type="button" role="tab"
                                aria-controls="informacion-tab-pane" aria-selected="true">CLIENTE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#direccion-tab-pane" type="button" role="tab"
                                aria-controls="direccion-tab-pane" aria-selected="false">DIRECCIÓN</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contacto-tab-pane" type="button" role="tab"
                                aria-controls="contacto-tab-pane" aria-selected="false">CONTACTO</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                                data-bs-target="#facturacion-tab-pane" type="button" role="tab"
                                aria-controls="facturacion-tab-pane" aria-selected="false">FACTURACIÓN</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                                data-bs-target="#Cuentas-tab-pane" type="button" role="tab"
                                aria-controls="Cuentas-tab-pane" aria-selected="false">CUENTAS</button>
                        </li>
                    </ul>
                    <!--INFORMACIÓN GENERAL-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="informacion-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                            <br>

                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="RAZON_SOCIAL" class="form-label">RAZON SOCIAL*</label>
                                    <input type="text" class="form-control" name="RAZON_SOCIAL"
                                        value="{{ cliente.razon_social }}" id="RAZON_SOCIAL" placeholder="Enter value"
                                        required>
                                    <div class="invalid-feedback">
                                        Completar Razón Social
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="RFC" class="form-label">RFC*</label>
                                    <input type="text" class="form-control" id="RFC" value="{{cliente.rfc}}" name="RFC"
                                        placeholder="RFC" required>
                                    <div class="invalid-feedback">
                                        Completar RFC
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="EMPRESA" class="form-label">EMPRESA:*</label>
                                    <select class="form-control" name="EMPRESA" id="EMPRESA" required>
                                        <option value="{{cliente.id_empresa }}">{{ empresa_selecionada.razon_social }}</option>
                                        {% for e in empresas %}
                                        <option value="{{ e.id }}">{{ e.razon_social }}</option>

                                        {% endfor %}

                                    </select>

                                </div>
                            </div>
                        </div>
                        <!--FIN INFORMACIÓN GENERAL-->
                        <!-- DIRECCION -->
                        <div class="tab-pane fade" id="direccion-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                            tabindex="0">
                            <br>
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="CP" class="form-label">CP*</label>
                                        <input type="text" value="{{cliente.cp}}" class="form-control" id="CP" name="CP"
                                            ma placeholder="Código Postal" required>
                                        <div class="invalid-feedback">
                                            Completa Código Postal
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label for="ESTADO" class="form-label">ESTADO*</label>
                                        <input type="text" value="{{cliente.estado}}" class="form-control" id="ESTADO"
                                            name="ESTADO" placeholder="Estado" required>
                                        <div class="invalid-feedback">
                                            Completa Estado
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label for="MUNICIPIO" class="form-label">MUNICIPIO*</label>
                                        <input type="text" value="{{cliente.municipio}}" class="form-control"
                                            name="MUNICIPIO" id="MUNICIPIO" placeholder="Municipio" required>
                                        <div class="invalid-feedback">
                                            Completa Municipio
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="PAIS" class="form-label">PAÍS*</label>
                                        <input type="text" value="{{cliente.pais}}" class="form-control" name="PAIS"
                                            id="PAIS" value="México" required>
                                        <div class="invalid-feedback">
                                            Completa País
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <label for="CALLE" class="form-label">CALLE*</label>
                                        <input type="text" value="{{cliente.calle}}" class="form-control" id="CALLE"
                                            name="CALLE" maxlength="50" placeholder="Calle" required>
                                        <div class="invalid-feedback">
                                            Completa Calle
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. EXTERIOR</label>
                                        <input type="text" value="{{cliente.ciudad}}" class="form-control"
                                            name="NO_EXTERIOR" id="NO_EXTERIOR" placeholder="Numero Exterior">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label for="NO_EXTERIOR" class="form-label">NO. INTERIOR</label>
                                        <input type="text" class="form-control" value="{{cliente.no_exterior}}"
                                            name="NO_INTERIOR" id="NO_INTERIOR" placeholder="Numero Interior">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIN DIRECCION -->
                        <!-- INFORMACIÓN DEL CONTACTO -->
                        <div class="tab-pane fade" id="contacto-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                            tabindex="0">
                            <br>

                            <!--BOTONES ACCIONES-->
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn botones" onclick="añadirContacto()"><i
                                            class="bi bi-person-add"></i> AGREGAR
                                    </button>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <div class="table-container">
                                <table class="table table-borderless" id="Contactos">
                                    <colgroup>
                                        <!-- Agrega más columnas según sea necesario -->
                                        <col style="width: 250px;"> <!-- Primera columna -->
                                        <col style="width: 250px;"> <!-- Segunda columna -->
                                        <col style="width: 250px;"> <!-- Tercera columna -->
                                        <col style="width: 250px;"> <!-- Cuarta columna -->
                                        <col style="width: 250px;">
                                        <col style="width: 40px;">
                                    </colgroup>
                                    <thead class="table">
                                        <tr>
                                         
                                                <th scope="col">NOMBRE</th>
                                                <th scope="col">APELLIDO</th>
                                                <th scope="col">TELEFONO</th>
                                                <th scope="col">CORREO</th>
                                                <th scope="col">PUESTO</th>
                                                <th scope="col"></th>

                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cc in contactos %}
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.nombre }}"
                                                    name="NOMBRE_CONTACTO[]" required="">
                                                <div class="invalid-feedback">
                                                    Completa Nombre
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.apellido }}"
                                                    name="APELLIDO_CONTACTO[]" required="">
                                                <div class="invalid-feedback">
                                                    Completa Apellido
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.telefono }}"
                                                    name="TELEFONO_CONTACTO[]" required="">
                                                <div class="invalid-feedback">
                                                    Completa Telefono
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.correo }}"
                                                    name="CORREO_CONTACTO[]" required="">
                                                <div class="invalid-feedback">
                                                    Completa Correo
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" value="{{ cc.puesto }}"
                                                    name="PUESTO_CONTACTO[]" required="">
                                                <div class="invalid-feedback">
                                                    Completa Puesto
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center"
                                                    style="height: 100%;margin-top: 30px;"><button
                                                        onclick="eliminarFila(this)" class="btn"><i
                                                            class="bi bi-trash"></i></button></div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- FIN INFORMACIÓN DEL CONTACTO -->
                        <!-- DATOS DE FACTURACIÓN -->
                        <div class="tab-pane fade" id="facturacion-tab-pane" role="tabpanel"
                            aria-labelledby="disabled-tab" tabindex="0">
                            <br>

                            <p class="h6">DATOS FISCALES</p>
                            <hr>
                            <div class="form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="REGIMEN_FISCAL" class="form-label">Régimen Fiscal</label>
                                    <select class="form-control" name="REGIMEN_FISCAL" id="REGIMEN_FISCAL" required>
                                        <option value="" style="text-align: center;">SELECIONA</option>
                                
                                        <optgroup label="Personas morales">
                                            <option value="601" {{ 'selected' if cliente.regimen_fiscal_id == 601 else '' }}>601 GENERAL DE LA LEY PERSONAS MORALES</option>
                                            <option value="603" {{ 'selected' if cliente.regimen_fiscal_id == 603 else '' }}>603 PERSONAS MORALES CON FINES NO LUCRATIVOS</option>
                                            <option value="607" {{ 'selected' if cliente.regimen_fiscal_id == 607 else '' }}>607 RÉGIMEN DE ENAJENACIÓN O ADQUISICIÓN DE BIENES</option>
                                            <option value="610" {{ 'selected' if cliente.regimen_fiscal_id == 610 else '' }}>610 RESIDENTES EN EL EXTRANJERO SIN ESTABLECIMIENTO PERMANENTE EN MÉXICO</option>
                                            <option value="620" {{ 'selected' if cliente.regimen_fiscal_id == 620 else '' }}>620 SOCIEDADES COOPERATIVAS DE PRODUCCIÓN QUE OPTAN POR DIFERIR SUS INGRESOS</option>
                                            <option value="622" {{ 'selected' if cliente.regimen_fiscal_id == 622 else '' }}>622 ACTIVIDADES AGRÍCOLAS, GANADERAS, SILVÍCOLAS Y PESQUERAS</option>
                                            <option value="623" {{ 'selected' if cliente.regimen_fiscal_id == 623 else '' }}>623 OPCIONAL PARA GRUPOS DE SOCIEDADES</option>
                                            <option value="624" {{ 'selected' if cliente.regimen_fiscal_id == 624 else '' }}>624 COORDINADOS</option>
                                            <option value="626" {{ 'selected' if cliente.regimen_fiscal_id == 626 else '' }}>626 RÉGIMEN SIMPLIFICADO DE CONFIANZA</option>
                                            <option value="628" {{ 'selected' if cliente.regimen_fiscal_id == 628 else '' }}>628 HIDROCARBUROS</option>
                                        </optgroup>
                                        <optgroup label="Personas físicas">
                                            <option value="605" {{ 'selected' if cliente.regimen_fiscal_id == 605 else '' }}>605 SUELDOS Y SALARIOS E INGRESOS ASIMILADOS A SALARIOS</option>
                                            <option value="606" {{ 'selected' if cliente.regimen_fiscal_id == 606 else '' }}>606 ARRENDAMIENTO</option>
                                            <option value="608" {{ 'selected' if cliente.regimen_fiscal_id == 608 else '' }}>608 DEMÁS INGRESOS</option>
                                            <option value="611" {{ 'selected' if cliente.regimen_fiscal_id == 611 else '' }}>611 INGRESOS POR DIVIDENDOS (SOCIOS Y ACCIONISTAS)</option>
                                            <option value="612" {{ 'selected' if cliente.regimen_fiscal_id == 612 else '' }}>612 PERSONAS FÍSICAS CON ACTIVIDADES EMPRESARIALES Y PROFESIONALES</option>
                                            <option value="614" {{ 'selected' if cliente.regimen_fiscal_id == 614 else '' }}>614 INGRESOS POR INTERESES</option>
                                            <option value="615" {{ 'selected' if cliente.regimen_fiscal_id == 615 else '' }}>615 RÉGIMEN DE LOS INGRESOS POR OBTENCIÓN DE PREMIOS</option>
                                            <option value="616" {{ 'selected' if cliente.regimen_fiscal_id == 616 else '' }}>616 SIN OBLIGACIONES FISCALES</option>
                                            <option value="621" {{ 'selected' if cliente.regimen_fiscal_id == 621 else '' }}>621 INCORPORACIÓN FISCAL</option>
                                            <option value="625" {{ 'selected' if cliente.regimen_fiscal_id == 625 else '' }}>625 RÉGIMEN DE LAS ACTIVIDADES EMPRESARIALES CON INGRESOS A TRAVÉS DE PLATAFORMAS TECNOLÓGICAS</option>
                                            <option value="629" {{ 'selected' if cliente.regimen_fiscal_id == 629 else '' }}>629 DE LOS REGÍMENES FISCALES PREFERENTES Y DE LAS EMPRESAS MULTINACIONALES</option>
                                            <option value="630" {{ 'selected' if cliente.regimen_fiscal_id == 630 else '' }}>630 ENAJENACIÓN DE ACCIONES EN BOLSA DE VALORES</option>
                                        </optgroup>
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecciona un Régimen Fiscal
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                                    <label for="USO_CFDI" class="form-label">Uso de CFDI:</label>
                                    <select class="form-control" name="USO_CFDI" id="USO_CFDI" required>
                                    {% for u in uso_cfdi %}
                                    <option value="{{ u.id }}" {{ 'selected' if cliente.uso_cfdi_id == u.id else '' }}>
                                        {{ u.id }} - {{ u.decripcion }}
                                    </option>
                                    {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecciona Uso de CFDI
                                    </div>
                                </div>
                                                              
                            </div>
                            <br>
                            <p class="h6">CONDICIONES COMERCIALES</p>
                            <hr>
                            <div class="form-group row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="CONDICION_PAGO" class="form-label">Condición de pago</label>
                                    <select class="form-control" name="CONDICION_PAGO" id="CONDICION_PAGO" required>
                                        <option value="1" {{ 'selected' if cliente.condicion_pago_id == 1 else '' }}>INMEDIATO</option>
                                        <option value="2" {{ 'selected' if cliente.condicion_pago_id == 2 else '' }}>TRIMESTRAL</option>
                                        <option value="3" {{ 'selected' if cliente.condicion_pago_id == 3 else '' }}>SEMESTRAL</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecciona una condición de pago
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="FORMA_PAGO" class="form-label">Forma de pago:</label>
                                    <select class="form-control" name="FORMA_PAGO" id="FORMA_PAGO" required>
                                        <option value="1" {{ 'selected' if cliente.condicion_pago_id == 1 else '' }}>CREDÍTO</option>
                                        <option value="2" {{ 'selected' if cliente.condicion_pago_id == 2 else '' }}>DEBÍTO</option>
                                        <option value="3" {{ 'selected' if cliente.condicion_pago_id == 3 else '' }}>EFECTIVO</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecciona una Forma de pago
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label for="METODO_PAGO" class="form-label">Metodo de Pago:</label>
                                    <select class="form-control" name="METODO_PAGO" id="METODO_PAGO" required>
                                        <option value="1" {{ 'selected' if cliente.condicion_pago_id == 1 else '' }}>PUE</option>
                                        <option value="2" {{ 'selected' if cliente.condicion_pago_id == 2 else '' }}>PPD</option>
                                       
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecciona un Metódo de pago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Cuentas-tab-pane" role="tabpanel" aria-labelledby="Cuentas-tab"
                            tabindex="0">
                            <br>

                            <!--BOTONES INFORMACION BANCARIA -->
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn botones" onclick="añadirCuenta()"> <i class="bi bi-window-plus"></i> AGREGAR
                                        </button>                                            
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="table-container">
                                <table class="table table-borderless" id="Cuentas">
                                    <colgroup>
                                        <!-- Agrega más columnas según sea necesario -->
                                        <col style="width: 250px;"> <!-- Primera columna -->
                                        <col style="width: 250px;"> <!-- Segunda columna -->
                                        <col style="width: 250px;"> <!-- Tercera columna -->
                                        <col style="width: 40px;">
                                    </colgroup>
                                    <thead class="table">
                                        <tr>
                                            <th scope="col">BANCO</th>
                                            <th scope="col">NO. Cuenta</th>
                                            <th scope="col">CLABE</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cuenta in cuentas %}
                                        <tr>

                                            <td>
                                                <select name="ID_BANCO[]" class="form-control" style="text-align: center;" required>
                                                    {% for b in bancos %}
                                                        <option value="{{ b.id }}" {{ 'selected' if cuenta.id_banco == b.id else '' }}>
                                                            {{ b.nombre }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <div class="invalid-feedback">
                                                    SELECCIONA UN BANCO
                                                </div>
                                            </td>

                                            <td>
                                                <input type="text" class="form-control" name="NUM_CUENTA[]"
                                                    maxlength="20" value="{{ cuenta.numero_cuenta }}"
                                                    onchange="formatearCLABE(this)" required>
                                                <div class="invalid-feedback">
                                                    "Completa numero de cuenta"
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="CLABE[]"
                                                    maxlength="19" value="{{ cuenta.clabe }}"
                                                    onchange="formatearCLABE(this)" required>
                                                <div class="invalid-feedback">
                                                    "Completa CLABE"
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center justify-content-center"
                                                    style="height: 100%;margin-top: 30px;">
                                                    <button onclick="eliminarFila(this)" class="btn"><i
                                                            class="bi bi-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FIN CARD CLIENTE -->


</form>
</div>
<br>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{{ url_for('static', filename='JS/FuncionesEditarCliente.js') }}"></script>

{% endblock %}