<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}ESPECIALIDADES{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}

{% endblock %}

<!-- TITULO DE PAGINA -->
{% block titutlo %}ESPECIALIDADES{% endblock %}
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}

<!-- Modal para Filtrar Especialidad -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="miModalLabel">FILTAR</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('fitro_especialidad') }}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="especialidad" class="form-label">ESPECIALIDAD</label>
                        <input type="text" class="form-control" id="especialidad" name="especialidad">
                    </div>
                    <div class="mb-3">
                        <label for="ESTATUS" class="form-label">ESTADO</label>
                        <select class="form-select" id="ESTATUS" name="estatus">
                            <option value="">SELECCIONA</option>
                            <option value="activo">ACTIVO</option>
                            <option value="bloqueado">BLOQUEADO</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal">CERRAR</button>
                        <button type="submit" class="btn botones">FILTRAR</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

<!-- INICIA MODAL ALTA Especialidad -->
<div class="modal fade" id="altaEspecialidadModal" tabindex="-1" aria-labelledby="altaEspecialidadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h4 class="modal-title" id="altaEspecialidadModalLabel">NUEVA ESPECIALIDAD</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="ESPECIALIDAD" class="form-label">ESPECIALIDAD</label>
                                <input type="text" class="form-control" id="ESPECIALIDAD" name="ESPECIALIDAD" required>
                                <div class="invalid-feedback">
                                    COMPLETA ESPECIALIDAD
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn  boton-cerrar" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                        <button type="submit" class="btn botones"><i class="bi bi-floppy"></i> CONFIRMAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN ALTA ESPECIALIDAD -->

<!-- Modal para editar especialidad -->
<div class="modal fade" id="editEspecilaidadModal" tabindex="-1" aria-labelledby="editEspecilaidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEspecilaidadModalLabel">EDITAR ESPECIALIDA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editEspecialidadForm" action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="editEspecialidadId" name="especialidad_id">
                    
                    <div class="mb-3">
                        <label for="editEspecialidadNombre" class="form-label">Nombre de Especialidad</label>
                        <input type="text" class="form-control" id="editEspecialidadNombre" name="ESPECIALIDAD" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL EDIT -->
<br>

<div class="container-fluid">
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-start">
        <!-- Button trigger modal -->
        <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#altaEspecialidadModal">
            <i class="bi bi-wrench"></i> NUEVA ESPECIALIDAD
        </button>
        <button class="btn botones" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
            <i class="bi bi-search"></i> FILTRAR
        </button>
        <a class="btn botones" href="/Especialidades">
            <i class="bi bi-eraser"></i> LIMPIAR FILTRO
        </a>
    </div>
    <br>

    <!--TABLA ESPECIALIDAD-->
    <div class="table-container">
        <table class="table table-hover table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ESPECIALIDADES</th>
                    <th scope="col">ESTATUS</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for e in especialidades %}
                {% if e.is_blocked %}
                <tr class="table-secondary">
                    <td>{{ e.id }}</td>
                    <td>{{ e.nombre }}</td>
                    <td>
                        BLOQUEADO
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{  e.id }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{  e.id }}">
                                <li>
                                    <form action="{{ url_for('unblock_especialidades', id= e.id) }}" method="post" style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">DESBLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.nombre }}</td>
                    <td>
                        ACTIVO
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ e.id }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ e.id }}">
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editEspecilaidadModal" data-especialidad="{{ e.nombre }}" data-especialidad-id="{{ e.id }}">
                                        EDITAR
                                    </button>

                                    <form action="{{ url_for('block_especialidades', id=e.id) }}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">BLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--FIN TABLA ESPECIALIDAD-->
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Deshabilitar el envío de formularios si no son válidos
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();

    // Script para completar el modal de edición con la especialidad seleccionada
    const editEspecialidadModal = document.getElementById('editEspecilaidadModal');
    editEspecialidadModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        const id = button.getAttribute('data-especialidad-id');
        const especialidad = button.getAttribute('data-especialidad');
        console.log("SE EJCUENTA EDIT ESPECIALIDAD")
        console.log("ESTA ES LA ESPECIALIDA"+id)



        const inputEspecialidadNombre = editEspecialidadModal.querySelector('#editEspecialidadNombre');
        inputEspecialidadNombre.value = especialidad;

        const form = editEspecialidadModal.querySelector('form');
        console.log(form)
        form.action = `/edit_especialidad/${id}`;
    });
</script>

{% endblock %}
