<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}Materiales{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}

{% endblock %}

<!-- TITULO DE PAGINA -->
{% block titutlo %}MATERIALES{% endblock %}
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}

<!-- Modal para Filtrar Especialidad -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="miModalLabel">FILTAR</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('fitro_especialidad') }}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="especialidad" class="form-label">DESCRIPCION</label>
                        <input type="text" class="form-control" id="inputDescripcionFiltro" name="inputDescripcionFiltro">
                    </div>
                    <div class="mb-3">
                        <label for="especialidad" class="form-label">FAMILIA</label>
                        <select class="form-control" id="selectFamiliaFiltro" name="selectEstatusFiltro">
                            <option value="" disabled selected style="text-align: center;">SELECCIONA</option>
                            {% for f in familias %}
                            <option value="{{f.id}}">{{f.familia}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>UNIDAD DE MEDIDA</label>
                        <select class="form-control" id="selectUOMFiltro" name="selectUOMFiltro" required>
                            <option value="" disabled selected style="text-align: center;">SELECCIONA</option>
                            <option value="KG">KILOGRAMO (kg)</option>
                            <option value="M">METRO (m)</option>
                            <option value="M2">METRO (m²)</option>
                            <option value="M3">METRO CÚBICO (m³)</option>
                            <option value="T">TONELADA (t)</option>
                            <option value="L">LITRO (L)</option>
                            <option value="GAL">GALÓN (GAL)</option>
                            <option value="PZA">PIEZA (PZA)</option>
                            <option value="ROLL">ROLLO (ROLL)</option>
                            <option value="CAJA">CAJA (CAJA)</option>
                            <option value="BOB">BOBINA (BOBINA)</option>
                            <option value="FT3">PIE (Ft³)</option>
                        </select>
                    </select>
                    </div>
                    <div class="mb-3">
                        <label for="ESTATUS" class="form-label">ESTADO</label>
                        <select class="form-control" selected style="text-align: center;" id="selectEstatusFiltro" name="selectEstatusFiltro">
                            <option value="">SELECCIONA</option>
                            <option value="activo">ACTIVO</option>
                            <option value="bloqueado">BLOQUEADO</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal">CERRAR</button>
                        <button type="submit" class="btn botones">FILTRAR</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>


<!-- INICIA MODAL ALTA MATERIAL -->
<div class="modal fade" id="altaMaterialModal" tabindex="-1" aria-labelledby="altaMaterialModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h4 class="modal-title" id="altaMaterialModalLabel">NUEVO MATERIAL</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="form-group row">
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="grupo" class="form-label">FAMILIA</label>
                                <input type="text" class="form-control" id="FamiliaFiltro" name="FamiliaFiltro" placeholder="Introduzca la Familia" required>
                                <input type="text" class="form-control" id="FamiliaID" name="FamiliaID" placeholder="Introduzca la Familia" style="display: none;" required>
                                <div class="invalid-feedback">
                                    COMPLETA FAMILIA/GRUPO
                                </div>
                                <div id="suggestions" class="list-group"></div>
                            </div>   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="descripcion" class="form-label">DESCRIPCION</label>
                                <input type="text" class="form-control" id="descripcionMaterial" name="descripcionMaterial" placeholder="Introduzca la Descripcion" required>
                                <div class="invalid-feedback">
                                    COMPLETA DESCRIPCION
                                </div>
                            </div> 

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                                <select class="form-control" id="medidaMaterial" name="medidaMaterial" required>
                                        <option value="" disabled selected style="text-align: center;">SELECCIONA</option>
                                        <option value="KG">KILOGRAMO (kg)</option>
                                        <option value="M">METRO (m)</option>
                                        <option value="M2">METRO (m²)</option>
                                        <option value="M3">METRO CÚBICO (m³)</option>
                                        <option value="T">TONELADA (t)</option>
                                        <option value="L">LITRO (L)</option>
                                        <option value="GAL">GALÓN (GAL)</option>
                                        <option value="PZA">PIEZA (PZA)</option>
                                        <option value="ROLL">ROLLO (ROLL)</option>
                                        <option value="CAJA">CAJA (CAJA)</option>
                                        <option value="BOB">BOBINA (BOBINA)</option>
                                        <option value="FT3">PIE (Ft³)</option>
                                    </select>
                                </select>
                                <div class="invalid-feedback">
                                    SELECCIONA UNIDAD DE MEDIDA
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                        <button type="submit" class="btn botones"><i class="bi bi-floppy"></i> CONFIRMAR</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN ALTA MATERAIL -->
 <!-- MODAL EDIT -->
 <div class="modal fade" id="modalEditarMaterial" tabindex="-1" aria-labelledby="editMaterialModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <div class="modal-header">
             <div class="container text-center">
                 <h4 class="modal-title" id="editMaterialModalLabel">EDITAR</h4>
             </div>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form class="needs-validation" action=" " method="post" novalidate>
            <div class="modal-body">
                <div class="container">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <br>
                    <div class="form-group row">
                        <!--Debe cambiarse por un select concetado al catalogo de FAMILIA/GRUPO-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="grupo" class="form-label">FAMILIA</label>
                            <input type="text" class="form-control" id="inputIdFamiliaEdit" name="inputIdFamiliaEdit" style="display: none;" required>
                            <input type="text" class="form-control" id="inputFamiliaEdit" name="inputFamiliaEdit" placeholder="Introduzca la Familia/Grupo" required>
                            <div class="invalid-feedback">
                                COMPLETA FAMILIA
                            </div>
                            <div id="suggestions-editar" class="list-group"></div>
                            
                        </div>    
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="material" class="form-label">MATERIAL</label>
                            <input type="text" class="form-control" id="inputDecripcion" name="inputDecripcion" placeholder="Introduzca el Material" required>
                            <div class="invalid-feedback">
                                COMPLETA MATERIAL
                            </div>
                        </div> 
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                            <select class="form-control" id="inputUOMEdit" name="inputUOMEdit" required>
                                <option value="" disabled selected>Seleccione la Unidad de Medida</option>
                                <option value="KG">KILOGRAMO (kg)</option>
                                <option value="M">METRO (m)</option>
                                <option value="M2">METRO (m²)</option>
                                <option value="M3">METRO CÚBICO (m³)</option>
                                <option value="T">TONELADA (t)</option>
                                <option value="L">LITRO (L)</option>
                                <option value="GAL">GALÓN (GAL)</option>
                                <option value="PZA">PIEZA (PZA)</option>
                                <option value="ROLL">ROLLO (ROLL)</option>
                                <option value="CAJA">CAJA (CAJA)</option>
                                <option value="BOB">BOBINA (BOBINA)</option>
                                <option value="FT3">PIE (Ft³)</option>
                            </select>
                            <div class="invalid-feedback">
                                SELECCIONA UNIDAD DE MEDIDA
                            </div>
                        </div>
                    </div>            

                </div>
            </div>
             <div class="modal-footer">
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                        <button type="submit" class="btn botones"><i class="bi bi-floppy"> </i>GUARDAR</button>
                    </div>

                </div>
                
             </div>
         </form>
     </div>
 </div>
</div>
<!-- FIN MODAL EDIT -->
<br>
<div class="container-fluid">
    <br>
        <div class="d-grid gap-2 d-md-flex justify-content-start">
            <!-- Button trigger modal -->
            <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#altaMaterialModal">
                <i class="bi bi-wrench"></i> NUEVO MATERIAL
            </button>
            <button class="btn botones" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
                <i class="bi bi-search"></i> FILTRAR
            </button>
        </div>
    <br>
    <!--TABLA ESPECIALIDAD-->
    <div class="table-container">
        <table class="table table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID MATERIAL</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">FAMILIA</th>
                    <th scope="col">UNIDAD DE MEDIDA</th>
                    <th scope="col">ESTATUS</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for m in materiales %}
                {% if m.is_blocked %}
                <tr class="table-secondary">
                    <td>{{ m.id }}</td>
                    <td>{{ m.material }}</td>
                    <td>{{ m.familia }}</td>
                    <td>{{ m.unidad_medida }}</td>
                   
                    <td>
                        BLOQUEADO
                    </td>
                    <td>
                       

                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ m.id }}"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{  m.id }}">
                                <li>
                                    <form action="{{ url_for('unblock_material', id= m.id) }}" method="post"
                                        style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">DESBLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ m.id }}</td>
                    <td>{{ m.material }}</td>
                    <td>{{ m.familia }}</td>
                    <td>{{ m.unidad_medida }}</td>
                    
                    <td>
                        ACTIVO
                    </td>
                    <td>
                        


                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ m.id }}"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ m.id }}">
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalEditarMaterial" data-material="{{ m.material }}" data-material-id="{{ m.id }}" data-material-familia="{{ m.familia }}" data-material-uom="{{ m.unidad_medida }}">
                                        EDITAR
                                    </button>
                                 
                                <li>
                                    <form action="{{ url_for('block_material', id=m.id) }}" method="post"
                                        style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">BLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--FIN TABLA ESPECIALIDAD-->
</div>

<script src="{{ url_for('static', filename='JS/funciones_materiales.js') }}"></script>
{% endblock %}