<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}Materiales{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}

{% endblock %}

<!-- TITULO DE PAGINA -->
{% block titutlo %}MATERIALES{% endblock %}
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}

<!-- Modal para Filtrar MATERIAL -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="miModalLabel">FILTRAR MATERIALES</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <form action="" method="post"> -->
            <form action="" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="grupo" class="form-label">FAMILIA</label>
                        <input type="text" class="form-control" id="grupo" name="grupo">
                    </div>
                    <div class="mb-3">
                        <label for="material" class="form-label">MATERIAL</label>
                        <input type="text" class="form-control" id="material" name="material">
                    </div>  
                    <div class="mb-3">
                        <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                        <input type="text" class="form-control" id="medida" name="medida">
                    </div>                      
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                        <button type="submit" class="btn botones"> <i class="bi bi-search"></i> FILTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar materiales -->
<div class="modal fade" id="editMaterialesModal" tabindex="-1" aria-labelledby="editMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMaterialModalLabel">EDITAR MATERIAL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editMaterialesForm" action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="editMaterialId" name="material_id">
                    
                    <!--Debe cambiarse por un select concetado al catalogo de FAMILIA/GRUPO-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="grupo" class="form-label">FAMILIA</label>
                        <input type="text" class="form-control" id="inputEditFamilia" name="inputEditFamilia" placeholder="Introduzca la Familia" required>
                        <input type="text" class="form-control" id="inputIdFamilia" name="inputIdFamilia" placeholder="Introduzca la Familia" style="display: none;" required>
                        <div class="invalid-feedback">
                            COMPLETA FAMILIA/GRUPO
                        </div>
                        <div id="suggestions-edit" class="list-group"></div>
                    </div>   
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="descripcion" class="form-label">DESCRIPCION</label>
                        <input type="text" class="form-control" id="inputDecripcion" name="inputDecripcion" placeholder="Introduzca la Descripcion" required>
                        <div class="invalid-feedback">
                            COMPLETA DESCRIPCION
                        </div>
                    </div> 

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                        <select class="form-control" id="inputEditUOM" name="inputEditUOM" required>
                            <option value="" disabled selected>Seleccione la Unidad de Medida</option>
                            <option value="kg">Kilogramo (kg)</option>
                            <option value="m">Metro (m)</option>
                            <option value="m2">Metro cuadrado (m²)</option>
                            <option value="m3">Metro cúbico (m³)</option>
                            <option value="t">Tonelada (t)</option>
                            <option value="L">Litro (L)</option>
                            <option value="gal">Galón (gal)</option>
                            <option value="pza">Pieza (pza)</option>
                            <option value="roll">Rollo (roll)</option>
                            <option value="caja">Caja (caja)</option>
                            <option value="bob">Bobina (bob)</option>
                            <option value="ft3">Pie Tablar (ft³)</option>
                        </select>
                        <div class="invalid-feedback">
                            SELECCIONA UNIDAD DE MEDIDA
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- INICIA MODAL ALTA MATERIAL -->
<div class="modal fade" id="altaMaterialModal" tabindex="-1" aria-labelledby="altaMaterialModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h4 class="modal-title" id="altaMaterialModalLabel">NUEVO MATERIAL</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="" method="post" novalidate>
                <div class="modal-body">
                    <div class="container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="form-group row">
                            <!--Debe cambiarse por un select concetado al catalogo de FAMILIA/GRUPO-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="grupo" class="form-label">FAMILIA</label>
                                <input type="text" class="form-control" id="FamiliaFiltro" name="FamiliaFiltro" placeholder="Introduzca la Familia" required>
                                <input type="text" class="form-control" id="FamiliaID" name="FamiliaID" placeholder="Introduzca la Familia" style="display: none;" required>
                                <div class="invalid-feedback">
                                    COMPLETA FAMILIA/GRUPO
                                </div>
                                <div id="suggestions" class="list-group"></div>
                            </div>   
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="descripcion" class="form-label">DESCRIPCION</label>
                                <input type="text" class="form-control" id="descripcionMaterial" name="descripcionMaterial" placeholder="Introduzca la Descripcion" required>
                                <div class="invalid-feedback">
                                    COMPLETA DESCRIPCION
                                </div>
                            </div> 

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                                <select class="form-control" id="medidaMaterial" name="medidaMaterial" required>
                                    <option value="" disabled selected>Seleccione la Unidad de Medida</option>
                                    <option value="kg">Kilogramo (kg)</option>
                                    <option value="m">Metro (m)</option>
                                    <option value="m2">Metro cuadrado (m²)</option>
                                    <option value="m3">Metro cúbico (m³)</option>
                                    <option value="t">Tonelada (t)</option>
                                    <option value="L">Litro (L)</option>
                                    <option value="gal">Galón (gal)</option>
                                    <option value="pza">Pieza (pza)</option>
                                    <option value="roll">Rollo (roll)</option>
                                    <option value="caja">Caja (caja)</option>
                                    <option value="bob">Bobina (bob)</option>
                                    <option value="ft3">Pie Tablar (ft³)</option>
                                </select>
                                <div class="invalid-feedback">
                                    SELECCIONA UNIDAD DE MEDIDA
                                </div>
                            </div>
                            
                                                   
                            
                        </div>                        
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-start">
                        <button type="button" class="btn botones" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                        <button type="submit" class="btn botones"><i class="bi bi-floppy"></i> CONFIRMAR</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN ALTA MATERAIL -->
 <!-- MODAL EDIT -->
 <div class="modal fade" id="editMaterialModal" tabindex="-1" aria-labelledby="editMaterialModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <div class="modal-header">
             <div class="container text-center">
                 <h1 class="modal-title" id="editMaterialModalLabel">EDITAR</h1>
             </div>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form class="needs-validation" action=" " method="post" novalidate>
            <div class="modal-body">
                <div class="container">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <br>
                    <div class="form-group row">
                        <!--Debe cambiarse por un select concetado al catalogo de FAMILIA/GRUPO-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="grupo" class="form-label">FAMILIA</label>
                            <input type="text" class="form-control" id="Familia" name="Familia" placeholder="Introduzca la Familia/Grupo" required>
                            <div class="invalid-feedback">
                                COMPLETA FAMILIA
                            </div>
                            
                        </div>    
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="material" class="form-label">MATERIAL</label>
                            <input type="text" class="form-control" id="material" name="material" placeholder="Introduzca el Material" required>
                            <div class="invalid-feedback">
                                COMPLETA MATERIAL
                            </div>
                        </div> 
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="medida" class="form-label">UNIDAD DE MEDIDA</label>
                            <select class="form-control" id="medida" name="medida" required>
                                <option value="" disabled selected>Seleccione la Unidad de Medida</option>
                                <option value="kg">Kilogramo (kg)</option>
                                <option value="m">Metro (m)</option>
                                <option value="m2">Metro cuadrado (m²)</option>
                                <option value="m3">Metro cúbico (m³)</option>
                                <option value="t">Tonelada (t)</option>
                                <option value="L">Litro (L)</option>
                                <option value="gal">Galón (gal)</option>
                                <option value="pza">Pieza (pza)</option>
                                <option value="roll">Rollo (roll)</option>
                                <option value="caja">Caja (caja)</option>
                                <option value="bob">Bobina (bob)</option>
                                <option value="ft3">Pie Tablar (ft³)</option>
                            </select>
                            <div class="invalid-feedback">
                                SELECCIONA UNIDAD DE MEDIDA
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="descripcion" class="form-label">DESCRIPCION</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Introduzca la Descripcion" required>
                            <div class="invalid-feedback">
                                COMPLETA DESCRIPCION
                            </div>
                        </div>                                                               
                        
                    </div>            

                </div>
            </div>
             <div class="modal-footer">
                 <button type="button" class="btn botones" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> CERRAR</button>
                 <button type="submit" class="btn botones"><i class="bi bi-floppy"> </i>GUARDAR</button>
             </div>
         </form>
     </div>
 </div>
</div>
<!-- FIN MODAL EDIT -->
<br>
<div class="container-fluid">
    <br>
        <div class="d-grid gap-2 d-md-flex justify-content-start">
            <!-- Button trigger modal -->
            <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#altaMaterialModal">
                <i class="bi bi-wrench"></i> NUEVO MATERIAL
            </button>
            <button class="btn botones" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
                <i class="bi bi-search"></i> FILTRAR
            </button>
        </div>
    <br>
    <!--TABLA ESPECIALIDAD-->
    <div class="table-container">
        <table class="table table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID MATERIAL</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">FAMILIA</th>
                    <th scope="col">UNIDAD DE MEDIDA</th>
                    <th scope="col">ESTATUS</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for m in materiales %}
                {% if m.is_blocked %}
                <tr class="table-secondary">
                    <td>{{ m.id }}</td>
                    <td>{{ m.material }}</td>
                    <td>{{ m.familia }}</td>
                    <td>{{ m.unidad_medida }}</td>
                   
                    <td>
                        BLOQUEADO
                    </td>
                    <td>
                       

                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ m.id }}"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Acciones
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{  m.id }}">
                                <li>
                                    <form action="{{ url_for('unblock_material', id= m.id) }}" method="post"
                                        style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">Desbloquear</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ m.id }}</td>
                    <td>{{ m.material }}</td>
                    <td>{{ m.familia }}</td>
                    <td>{{ m.unidad_medida }}</td>
                    
                    <td>
                        ACTIVO
                    </td>
                    <td>
                        


                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ m.id }}"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Acciones
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ m.id }}">
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editMaterialModal" data-material="{{ m.material }}" data-material-id="{{ m.id }}" data-material-familia="{{ m.familia }}" data-material-uom="{{ m.unidad_medida }}">
                                        EDITAR
                                    </button>
                                    <a class="dropdown-item">Editar</a></li>
                                <li>
                                    <form action="{{ url_for('block_material', id=m.id) }}" method="post"
                                        style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">Bloquear</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--FIN TABLA ESPECIALIDAD-->
</div>

<script src="{{ url_for('static', filename='JS/funciones_materiales.js') }}"></script>
{% endblock %}