<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}GESTIÓN PRESUPUESTOS{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}
{% endblock %}

<!-- TITULO DE PAGINA -->
{% block titutlo %}GESTIÓN PRESUPUESTOS{% endblock %}
<!-- FIN DE TITULO -->
<style>
    

</style>
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}
<!-- Modal para Filtrar Empresa -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">FILTRAR EMPRESAS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('prespuestos') }}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="mb-3">
                        <label for="REPSE" class="form-label">REPSE</label>
                        <input type="text" class="form-control" id="REPSE" name="REPSE">
                    </div>
                    <div class="mb-3">
                        <label for="RAZON_SOCIAL" class="form-label">Razón Social</label>
                        <input type="text" class="form-control" id="RAZON_SOCIAL" name="RAZON_SOCIAL">
                    </div>
                    <div class="mb-3">
                        <label for="RFC" class="form-label">RFC</label>
                        <input type="text" class="form-control" id="RFC" name="RFC">
                    </div>
                    <div class="mb-3">
                        <label for="CP" class="form-label">CP</label>
                        <input type="text" class="form-control" id="CP" name="CP">
                    </div>
                    <div class="mb-3">
                        <label for="ESTATUS" class="form-label">Estado</label>
                        <select class="form-select" id="ESTATUS" name="ESTATUS">
                            <option value="">Seleccionar</option>
                            <option value="activo">Activo</option>
                            <option value="bloqueado">Bloqueado</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn botones">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="d-grid gap-2 d-md-flex justify-content-start">
        <a class="btn botones" href="/altaPresupuestos">
            <i class="bi bi-building-fill-add"></i> NUEVO PRESUPUESTO
        </a>
        <button class="btn botones" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
            <i class="bi bi-search"></i> FILTRAR
        </button>
        <a class="btn botones" href="/prespuestos">
            <i class="bi bi-eraser"></i> LIMPIAR FILTRO
        </a>
    </div>
    <br>
    <div class="table-container">
        <table class="table table-hover">
            <colgroup>
                <col style="width: 30px;"> <!-- Primera columna de 150px -->
                <col style="width: 250px;"> <!-- Segunda columna de 200px -->
                <col style="width: 150px;"> <!-- Tercera columna de 100px -->
                <col style="width: 150px;"> <!-- Primera columna de 150px -->
                <col style="width: 100px;"> <!-- Segunda columna de 200px -->
                <col style="width: 100px;"> <!-- Tercera columna de 100px -->
                <col style="width: 100px;"> <!-- Tercera columna de 100px --> 
                <col style="width: 100px;"> <!-- Tercera columna de 100px --> 
                

                <col style="width: 125px;"> <!-- Primera columna de 150px -->

            </colgroup>
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">PROYECTO</th>
                    <th scope="col">EMPRESA</th>
                    <th scope="col" style="white-space: normal;word-wrap: break-word;">TOTLA PRESUPUSTO CLIENTE</th>
                    <th scope="col" style="white-space: normal;word-wrap: break-word;">TOTAL PRESUPUESTO PROVEEDOR</th>
                    <th scope="col">DIREFENCIA</th>
                    <th scope="col">ESTATUS</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for p in presupuestos %}
                <tr>
                    <td>{{ p.id_presupuesto }}</td>
                    <td>{{ p.cliente }}</td>
                    <td>{{ p.proyecto }}</td>
                    <td>{{ p.empresa }}</td>
                    <td>{{ p.total_cliente_iva }}</td>
                    <td>{{ p.sub_proveedor}}</td>
                    {% if p.diferencia_es_negativa %}
                        <td style="background-color: red; color: white;">{{ p.sub_diferencia}}</td>
                    {% else %}
                        <td>{{ p.sub_diferencia}}</td>
                    {% endif %}
                    <td>
                        {% if p.estatus == 0 %}
                            PRESUPUESTO CARGADO
                        {% elif p.estatus == 1 %}
                            PRESUPUESTO APROBADO POR DIRECTOR
                        {% elif p.estatus == 2 %}
                            PRESUPUESTO EN PROCESO
                        {% else %}
                            ESTATUS DESCONOCIDO
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="dropdownMenuButton{{ p.id_presupuesto }}"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ p.id_presupuesto }}">
                                <li><a class="dropdown-item"
                                        href="/edit_presupuesto/?id={{  p.id_presupuesto }}">EDITAR</a></li>
                                <li>
                                    
                                </li>
                            </ul>
                        </div>
                    </td>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div>


{% endblock %}