<!--IMPOTRAR LAYOUT-->
{% extends "layout.html" %}
{% block title %}PUESTOS{% endblock %}
<!--HOJA DE ESTILOS EXTERNA-->
{% block customCSS %}

{% endblock %}

{% block titutlo %}PUESTOS{% endblock %}
<!--COMIENZA CONTENIDO DE PAGINA-->
{% block content %}
<!-- INICIA MODAL FILTRO BANCO -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container" style="text-align: center;" >
                    <h4 class="modal-title" id="miModalLabel">FILTAR PUESTOS</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Puestos" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="mb-3">
                        <label for="BANCO" class="form-label">PUESTO</label>
                        <input type="text" class="form-control" id="PUESTO" name="PUESTO">
                    </div>
                    <div class="mb-3">
                        <label for="ESTATUS" class="form-label">ESTATUS</label>
                        <select class="form-select" id="ESTATUS" name="ESTATUS">
                            <option value="" style="text-align: center;">SELECIONA</option>
                            <option value="1">ACTIVO</option>
                            <option value="2">BLOQUEADO</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn boton-cerrar" data-bs-dismiss="modal">CERRAR</button>
                    <button type="submit" class="btn botones">FILTRAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- INICIA MODAL FILTRO BANCO -->

<!-- INICIA MODAL ALTA BANCO -->
<div class="modal fade" id="altaBancoModal" tabindex="-1" aria-labelledby="altaBancoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h4 class="modal-title" id="altaBancoModalLabel">ALTA PUESTO</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="/Altapuesto" method="post" novalidate>
                
                <div class="modal-body">
                    <div class="container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="BANCO" class="form-label">PUESTO: </label>
                                <input type="text" class="form-control" id="PUESTO" name="PUESTO" required>
                                <div class="invalid-feedback">
                                    Completa Puesto
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label for="BANCO" class="form-label">SUELDO BASE:</label>
                                <input type="text" class="form-control moneda" id="SUELDO_BASE" name="SUELDO_BASE" required>
                                <div class="invalid-feedback">
                                    Completa Sueldo base
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label for="BANCO" class="form-label">SUELDO TARJETA:</label>
                                <input type="text" class="form-control moneda" id="SUELDO_TARJETA" name="SUELDO_TARJETA" required>
                                <div class="invalid-feedback">
                                    Completa Sueldo TARJETA
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label for="BANCO" class="form-label">HORA EXTRA:</label>
                                <input type="text" class="form-control moneda" id="HORA_EXTRA" name="HORA_EXTRA" required>
                                <div class="invalid-feedback">
                                    Completa Sueldo TARJETA
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="CATEGORIA" class="form-label">CATEGORIA:*</label>
                                <select class="form-control" name="CATEGORIA" id="CATEGORIA" required>
                                    <option value="" style="text-align: center;">------Selecciona------</option>
                                    {% for c in categorias %}
                                        <option value="{{ c.idCategoria }}">{{ c.categoria}}</option>
                                    {% endfor%}
                                </select>
                                <div class="invalid-feedback">
                                    SELECIONA CATEGORÍA 
                                </div>  
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn boton-cerrar" data-bs-dismiss="modal">CERRAR</button>
                    <button type="submit" class="btn botones"><i class="bi bi-floppy"></i> CONFIRMAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN ALTA BANCO -->

<!-- Modal para editar especialidad -->
<div class="modal fade" id="editPuestoModal" tabindex="-1" aria-labelledby="editPuestoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h4 class="modal-title" id="editPuestoModalLabel">EDITAR PUESTO</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editBancoForm" action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="editBancoId" name="banco_id">
                    
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="BANCO" class="form-label">PUESTO: </label>
                            <input type="text" class="form-control" id="PUESTO_EDIT" name="PUESTO_EDIT" required>
                            <div class="invalid-feedback">
                                Completa Puesto
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label for="BANCO" class="form-label">SUELDO BASE:</label>
                            <input type="text" class="form-control moneda" id="SUELDO_BASE_EDIT" name="SUELDO_BASE_EDIT" required>
                            <div class="invalid-feedback">
                                Completa Sueldo base
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label for="BANCO" class="form-label">SUELDO TARJETA:</label>
                            <input type="text" class="form-control moneda" id="SUELDO_TARJETA_EDIT" name="SUELDO_TARJETA_EDIT" required>
                            <div class="invalid-feedback">
                                Completa Sueldo TARJETA
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label for="BANCO" class="form-label">HORA EXTRA:</label>
                            <input type="text" class="form-control moneda" id="HORA_EXTRA_EDIT" name="HORA_EXTRA_EDIT" required>
                            <div class="invalid-feedback">
                                Completa Sueldo TARJETA
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="CATEGORIA" class="form-label">CATEGORIA:*</label>
                            <select class="form-control" name="CATEGORIA_EDIT" id="CATEGORIA_EDIT" required>
                                <option value="" style="text-align: center;">------Selecciona------</option>
                                {% for c in categorias %}
                                    <option value="{{ c.idCategoria }}">{{ c.categoria}}</option>
                                {% endfor%}
                            </select>
                            <div class="invalid-feedback">
                                SELECIONA CATEGORÍA 
                            </div>  
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn boton-cerrar"  data-bs-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn botones"><i class="bi bi-floppy"></i> GUARDAR CAMBIOS</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">
    <br>
    <!--BOTONES ACCIONES-->
    <div class="d-grid gap-2 d-md-flex justify-content-start">
        <!-- Button trigger modal -->
        <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#altaBancoModal">
            <i class="bi bi-person-plus"></i> NUEVO PUESTO
       </button>
       <button class="btn botones" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
           <i class="bi bi-search"></i> FILTRAR
        </button>
        <a class="btn botones" href="/Puestos">
            <i class="bi bi-eraser"></i> LIMPIAR FILTRO
        </a>
   </div>
    <br>
    <div class="table-container">
        <table class="table table-borderless">
            <thead class="table-dark">
                <tr>
                    <th class="col-3">ID</th>
                    <th class="col-3">PUESTO</th>
                    <th class="col-3">SUELDO BASE</th>
                    <th class="col-3">SUELDO TARJETA</th>
                    <th class="col-3">HORAS EXTRA</th>
                    <th class="col-3">CATEGORIA</th>
                    <th class="col-3">ESTATUS</th>
                    <th class="col-3">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for p in puesto %}
                {% if p.is_blocked %}
                <tr class="table-secondary">
                    <td>{{ p.id }}</td>
                    <td>{{ p.puesto }}</td>
                    <td>{{ p.sueldo_base}}</td>
                    <td>{{ p.sueldo_tarjeta }}</td>
                    <td>{{ p.horas_extras }}</td>
                    <td>{{ p.categoria }}</td>
                    <td>BLOQUEADO</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="">
                                <li>
                                    <form action="{{ url_for('unblock_puesto', id=p.id) }}" method="post" style="display:inline;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">DESBLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.puesto }}</td>
                    <td>{{ p.sueldo_base}}</td>
                    <td>{{ p.sueldo_tarjeta }}</td>
                    <td>{{ p.horas_extras }}</td>
                    <td>{{ p.categoria }}</td>
                    <td>ACTIVO</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" id="" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                ACCIONES
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="">
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPuestoModal" id="{{ p.id }}" puesto="{{ p.puesto }}" sueldo-base="{{ p.sueldo_base }}" sueldo-tarjeta="{{ p.sueldo_tarjeta}}" hora-extra="{{ p.horas_extras }}" categoria="{{ p.categoria }}">
                                        EDITAR
                                    </button>
                                </li>
                                <li>
                                    <form action="{{ url_for('block_puesto', id=p.id) }}" method="post" >
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button class="dropdown-item" type="submit">BLOQUEAR</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
       
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()



    const editPuestoModal = document.getElementById('editPuestoModal');
    editPuestoModal.addEventListener('show.bs.modal', event => {

        
        const button = event.relatedTarget;
        const idPuesto = button.getAttribute('id');
        const puesto = button.getAttribute('puesto')
        const sueldoBase = button.getAttribute('sueldo-base')
        const sueldoTarjeta = button.getAttribute('sueldo-tarjeta')
        const horasExtra = button.getAttribute('hora-extra')
        const categoria = button.getAttribute('categoria')
    


        const inputPuesto = editPuestoModal.querySelector('#PUESTO_EDIT');
        const inputSueldoBase = editPuestoModal.querySelector('#SUELDO_BASE_EDIT')
        const inputSueldoTarjeta = editPuestoModal.querySelector('#SUELDO_TARJETA_EDIT')
        const inputHoraExtra = editPuestoModal.querySelector('#HORA_EXTRA_EDIT')
        const inputCategoria = editPuestoModal.querySelector('#CATEGORIA_EDIT')


        inputPuesto.value = puesto;
        inputSueldoBase.value = sueldoBase;
        inputSueldoTarjeta.value = sueldoTarjeta;
        inputHoraExtra.value = horasExtra;
        inputCategoria.value = categoria

        const form = editPuestoModal.querySelector('form');
        console.log(form)
        form.action = `/edit_puesto/${idPuesto}`;
    });
</script>
<script>
    // Función para formatear como moneda MXN
    function formatearMonedaMXN(valor) {
           let numero = parseFloat(valor.replace(/[^0-9.-]+/g, ''));
           if (isNaN(numero)) return '';
           return numero.toLocaleString('es-MX', {
               style: 'currency',
               currency: 'MXN'
           });
       }

       // Evento que formatea los inputs al perder el foco
       document.querySelectorAll('.moneda').forEach(input => {
           input.addEventListener('blur', (event) => {
               event.target.value = formatearMonedaMXN(event.target.value);
           });

           // Eliminar caracteres no numéricos al escribir
           input.addEventListener('input', (event) => {
               let valor = event.target.value.replace(/[^0-9.-]+/g, '');
               event.target.value = valor;
           });
       });
</script>

{% endblock %}