<!-- IMPOTRAR LAYOUT -->
{% extends "layout.html" %}
{% block title %}Nuevo Proyecto{% endblock %}
<!-- HOJA DE ESTILOS EXTERNA -->
{% block customCSS %}
<style>
    .tituloform {
        background: #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        color: #052c65;
        list-style-type: none;
        border-radius: 10px;
        display: flex;
        padding: 20px 10px;
        position: relative;
        z-index: 10;
    }

    .btn-primary {
        background-color: #052c65;
        border-color: #052c65;
    }
</style>
{% endblock %}
<!-- COMIENZA CONTENIDO DE PAGINA -->
{% block content %}
<!-- INICIA MODAL FILTRO CATEGORIA -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Filtrar Categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categorias</label>
                        <input type="text" class="form-control" id="categoria" name="categoria">
                    </div>
                    <div class="mb-3">
                        <label for="ESTATUS" class="form-label">Estado</label>
                        <select class="form-select" id="ESTATUS" name="ESTATUS">
                            <option value="">Seleccionar</option>
                            <option value="activo">Activo</option>
                            <option value="bloqueado">Bloqueado</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- INICIA MODAL FILTRO CATEGORIA -->

<!-- INICIA MODAL ALTA CATEGORIA -->
<div class="modal fade" id="altaCategoriaModal" tabindex="-1" aria-labelledby="altaCategoriaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container text-center">
                    <h1 class="modal-title" id="altaCategoriaModalLabel">Alta Registros patronales</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="{{ url_for('registosPatronales') }}" method="post" novalidate>
                <div class="container text-center">
                    <p class="lead">Completa los datos del formularío para crear un nuevo registro patronal</p>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <br>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="NO_REGISTRO_PATRONAL" class="form-label">No° Registro
                                    Patronal*</label>
                                <input type="text" class="form-control" id="NO_REGISTRO_PATRONAL"
                                    name="NO_REGISTRO_PATRONAL" placeholder="Número  de Registro Patronal">

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="ESTADO_REGISTRO" class="form-label">Estado*</label>
                                <input type="text" class="form-control" id="ESTADO_REGISTRO"
                                    name="ESTADO_REGISTRO" placeholder="Estado de registro patronal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="EMPRESA" class="form-label">Seleciona una empresa:*</label>
                                <select class="form-control" name="EMPRESA" id="EMPRESA" required>
                                    <option value="">Seleciona una empresa</option>
                                    {% for empresa in empresas %}
                                    <option value="{{ empresa.id }}">{{empresa.id }}.- {{empresa.razon_social}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Seleciona una empresa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN ALTA CATEGORIA -->

<br>
<div class="container-fluid">
    <br>
    <div class="container tituloform">
        <div class="container text-center">
            <h1 class="display-2">Registros Patronales</h1>
            <p class="lead">Visualiza, edita y bloquea Registros Patronales</p>
        </div>

    </div>
    <br>
    <!-- BOTONES ACCIONES -->
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#altaCategoriaModal">
                Añadir
            </button>
            <button class="btn btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#miModal">
                <i class="bi bi-search"></i> Categorias
            </button>
        </div>
    </div>
    <br>
    <!-- MODAL EDIT -->
    <div class="modal fade" id="editCategoriaModal" tabindex="-1" aria-labelledby="editCategoriaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container text-center">
                        <h1 class="modal-title" id="editCategoriaModalLabel">Editar categoria</h1>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" action="" method="post" novalidate>
                    <div class="container text-center">
                        <p class="lead">Completa los datos del formularío para editar una categoría</p>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <br>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="EDIT_CATEGORIA" class="form-label">Categoría de Empleado</label>
                                    <input type="text" class="form-control" id="EDIT_CATEGORIA" name="EDIT_CATEGORIA"
                                        value="" required>
                                    <div class="invalid-feedback">
                                        Completa Categoría Empleado
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN MODAL EDIT -->

    <!-- TABLA CATEGORIA -->
    <div class="container-fluid">
        <table class="table table">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">Id</th>
                    <th class="col-3">No Rgistro Patronal</th>
                    <th class="col-3">Estado</th>
                    <th class="col-3">Empresa</th>
                    <th class="col-1">Estatus</th>
                    <th class="col-1">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for r  in regis_patronales %}
                    {% if r._is_blocked %}
                    <tr class="table-secondary">
                        <td>{{ r.id_registro }}</td>
                        <td>{{ r.registro_patronal }}</td>
                        <td>{{  r.empresa }}</td>
                        <td>{{ r.estado }}</td>
                        <td>Bloqueado</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle" id="" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="">
                                    <li>
                                        <form action="{{ url_for('unblock_categoria', id=r.id_registro) }}"
                                            method="post" style="display:inline;">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button class="dropdown-item" type="submit">Desbloquear</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ r.id_registro }}</td>
                        <td>{{ r.registro_patronal }}</td>
                        <td>{{ r.estado }}</td>
                        <td>{{  r.empresa }}</td>
                        <td>Activo</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle" id="" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="">
                                    <li>
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#editCategoriaModal" data-id="{{ r.id_registro }}"
                                            data-categoria="{{ r.id_registro }}">
                                            Editar
                                        </button>
                                    </li>
                                    <li>
                                        <form action="{{ url_for('block_categoria', id=r.id_registro) }}"
                                            method="post" style="display:inline;">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button class="dropdown-item" type="submit">Bloquear</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- FIN TABLA CATEGORIA -->

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    // Script para completar el modal de edición con la categoría seleccionada
    const editCategoriaModal = document.getElementById('editCategoriaModal');
    editCategoriaModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        const id = button.getAttribute('data-id');
        const categoria = button.getAttribute('data-categoria');

        const modalTitle = editCategoriaModal.querySelector('.modal-title');
        const inputCategoria = editCategoriaModal.querySelector('#EDIT_CATEGORIA');

        // modalTitle.textContent = `Editar Categoría ${categoria}`;
        inputr.value = categoria;

        const form = editCategoriaModal.querySelector('form');
        form.action = `/edit_categoria/${id}`;
    });
</script>
{% endblock %}