ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

* {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.imgnav {
  padding-left: 15px;
}

.offcanvas-backdrop.show {
  opacity: 0;
}
.offcanvas {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.offcanvas-header {
  background-color: #fff;
  border-bottom: 1px solid #74aceb;
}

.offcanvas-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-menu {
  list-style: none;
  padding: 0;
}

.user-menu li {
  margin-bottom: 10px;
}

.user-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.user-menu a:hover {
  background-color: #96c1ee;
  border-radius: 5px;
}

.navbar {
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-brand {
  font-family: "Arial", sans-serif; /* Fuente */
  font-size: 20px;
  color: #fff; /* Color del texto */
}

.navbar-brand:hover {
  color: #74aceb; /* Color del texto al pasar el mouse */
}

.navbar-toggler {
  border: none;
  background: none;
  color: #fff;
}

.navbar-toggler:hover {
  color: #74aceb; /* Color del botón al pasar el mouse */
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.nav-link {
  font-family: "Arial", sans-serif; /* Fuente */
  font-size: 16px;
  color: #000000; /* Color del texto */
  transition: color 0.3s ease; /* Transición al pasar el mouse */
}

.nav-link:hover {
  color: #74aceb; /* Color del texto al pasar el mouse */
}

.btn-outline-success {
  color: #74aceb; /* Color del texto */
  border-color: #74aceb; /* Color del borde */
  transition: color 0.3s ease, border-color 0.3s ease; /* Transición al pasar el mouse */
}

.btn-outline-success:hover {
  color: #000000; /* Color del texto al pasar el mouse */
  background-color: #74aceb; /* Color de fondo al pasar el mouse */
  border-color: #74aceb; /* Color del borde al pasar el mouse */
}

.user-info p {
  font-family: "Arial", sans-serif; /* Fuente */
  font-size: 16px;
  color: #000000; /* Color del texto */
  margin-right: 20px;
}

body{
  
  text-transform: uppercase;
  background-color:#d9e3eb;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  margin:0px;
  /* Para colocar los resizers */
}

.thead-dark th {
  background-color: #343a40;
  color: #ffffff;
  position: relative;
  /* Para colocar los resizers */
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Estilos para los resizers */
.resizer {
  width: 5px;
  cursor: col-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ddd;
  /* Color visible para el resizer */
}

.currency-input {
  text-align: right;
  /* Alinea el texto a la derecha para valores monetarios */
}



tfoot tr {
  background-color: #f8f9fa;
  /* Color de fondo para el pie de tabla */
}

tfoot td {
  padding: 10px;
  /* Espaciado interno en las celdas del pie de tabla */
}

th,
td {
  padding: 10px;
  /* Espaciado interno para mejorar la legibilidad */
  text-align: center;
  /* Centra el texto de las celdas */
  border: 1px solid #ddd;
  /* Añade bordes a las celdas */
}

.table thead th {

  position: sticky;
  top: 0;
  background-color: #0f2d3a;
  color: #ffff;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  z-index: 2;
}

.form-label {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;

}

.form-control{
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #7F949F;
  color: #333333;
  border-radius: 2px;
  background-color: #FCFDFE;
  border: 1px solid #7F949F;
  padding: 6px 5px 5px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 28px;
  margin: 0px;

}

.form-control:focus {
  border-color: #161513; /* Cambia el color del borde */
  box-shadow: 0 0 0 0.10rem #161513; /* Cambia el color de la sombra */
}

.nav-tabs .nav-link{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.presupuesto {
  background-color: #0f2d3a;
  color: #ffff;
  font-family: arial;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.input-group-text{
  height: 28px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container {
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: auto;
}

.table td:not(:has(button)), .table th:not(:has(button)) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.borderless {
  border: none;
  box-shadow: none;
  outline: none;

}

.xnu {
  font-family: arial;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-size: 20px;
  font-weight: normal;
}

.card-header {
  font-size: 12px;
  font-family: arial;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;

}



a.link {
  color: #0f2d3a;
  font-size: 12px;
  font-family: arial;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.botones {
  font-size: 12px;
  background-color: #0f2d3a;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.dropdown {
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.btn-outline-dark {
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.dropdown-item {
  text-transform: uppercase; /* Convierte los textos de las acciones en mayúsculas */
}

.select-box {
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}



.boton-nomina{
  font-size: 12px;
  background-color: #74aceb;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.boton-cerrar{
  font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif; 
  border-color: black;

}

.info_user{
  font-size: 9px;
  font-family: arial;
  background-color: #f8f9fa;
}

.btn-cerrar-session{
  font-size: 9px;

}



  

.table-borderless tbody th,
.table-borderless tfoot td,
.table-borderless tbody td {
    padding: 2px;
    margin: 0;
}

.table-borderless tbody td input {
  margin: 0 auto;
}

.table-borderless tbody td select {
  text-align: center;
}

.table-borderless tfoot td input {
  margin: 0 auto;
}

.read_only{
  text-align: center;
  background-color: #e9ecef; 


}

.readonly-select {
  pointer-events: none;
  background-color: #e9ecef;
  cursor: not-allowed;
}

.oculto{
  display: none;
}


/* Estilo para los resizers */
.resizable-table th {
  position: relative;
}

.resizable-table th .resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
}